// ------------------------------
// edX Pattern Library: LTR directional settings & support

// About: Sass partial for defining settings and utilities for LTR-centric layouts.

// #SETTINGS
// #LIB


// ----------------------------
// #SETTINGS
// ----------------------------
$layout-direction: ltr;


// ----------------------------
// #LIB
// ----------------------------
@import 'bi-app-sass/bi-app/bi-app-ltr';
