// ------------------------------
// edX Pattern Library: Variables

// About: Sass partial for defining variables used throughout the applications.

// #PATHS:          paths for particular assets
// #UNITS:          Basic units of measurement
// #GRID:           Grid and layout variables
// #COLORS:         Base, palette and theme color definitions + application
// #TYPOGRAPHY:     Font definitions and scales
// #DEPTH:          UI depth-based scale
// #SPACING:        General UI spacing variables and scale
// #TIMING:         Event timing variables
// #APPLICATIONS:   Applying configuration


// ----------------------------
// #PATHS
// ----------------------------
$pattern-library-path: '..' !default;
$font-path: '#{$pattern-library-path}/fonts' !default;
$image-path: '#{$pattern-library-path}/images' !default;

// ----------------------------
// #UNITS
// ----------------------------
$em-base: 16; // deliberately sets bourbon-based em-base (http://bourbon.io/docs/#em-base)


// ----------------------------
// #GRID
// ----------------------------
// grid - dimensions
$grid-max-width:                rem(1170) !default;
$grid-column-count:             12 !default;
$grid-gutter-width:             (1/3) !default;  // set to fraction to be proportional to fluid column widths (see - http://susydocs.oddbird.net/en/latest/settings/#gutters)
$grid-container-position:       center !default;
$grid-gutter-position:          after !default;
$grid-manual-gutter-position:   inside !default;
$grid-column-width:             false !default;  // set to false for fluid columns by default (see - http://susydocs.oddbird.net/en/latest/settings/#column-width)
$grid-debug-color:              rgba(203, 89, 141, 0.33) !default;
$grid-debug-color-alt:          rgba(0, 121, 188, 0.33) !default;

// grid - breakpoints
$bp-screen-sm:                  480px !default;
$bp-screen-md:                  768px !default;
$bp-screen-lg:                  1024px !default;
$bp-screen-xl:                  1280px !default;


// ----------------------------
// #COLORS
// ----------------------------
// color: config
$transparent:                   rgba(0, 0, 0, 0);

$black:                         rgb(17, 16, 16);
$black-t:                       rgb(0, 0, 0); // true black
$white:                         rgb(252, 252, 252);
$white-t:                       rgb(255, 255, 255); // true white
$gray:                          rgb(167, 164, 164);
$gray-cool:                     rgb(158, 177, 185);
$red:                           rgb(178, 6, 16);
$yellow:                        rgb(253, 188, 86);
$green:                         rgb(37, 184, 90);
$blue:                          rgb(0, 121, 188);
$pink:                          rgb(203, 89, 141);

// colors:                      brand
$brand-primary:                 $blue !default;
$brand-primary-accent:          rgb(14, 166, 236) !default;
$brand-secondary:               $pink !default;
$brand-secondary-accent:        rgb(242, 108, 170) !default;

// colors: utilities
$success: $green !default;
$warning: $yellow !default;
$error: $red !default;
$information: mix($gray-cool, $brand-primary, 70%) !default;

// colors: palettes
$palettes: (
    primary: (
        base:       $brand-primary,
        light:      mix($white, $brand-primary, 33%),
        x-light:    mix($white, $brand-primary, 66%),
        dark:       mix($black, $brand-primary, 33%),
        x-dark:     mix($black, $brand-primary, 66%),
        accent:     $brand-primary-accent,
        x-accent:   saturate($brand-primary-accent, 25%),
        trans:      transparentize($brand-primary, 0.50),
        x-trans:    transparentize($brand-primary, 0.75),
        xx-trans:   transparentize($brand-primary, 0.95)
    ),
    secondary: (
        base:       $brand-secondary,
        light:      mix($white, $brand-secondary, 33%),
        x-light:    mix($white, $brand-secondary, 66%),
        dark:       mix($black, $brand-secondary, 33%),
        x-dark:     mix($black, $brand-secondary, 66%),
        accent:     $brand-secondary-accent
    ),
    grayscale: (
        base:       $gray,
        light:      mix($white, $gray, 50%),
        x-light:    mix($white, $gray, 75%),
        xx-light:   mix($white, $gray, 85%),
        white:      $white,
        white-t:    $white-t,
        dark:       mix($black, $gray, 40%),
        x-dark:     mix($black, $gray, 60%),
        black:      $black,
        black-t:    $black-t,
        trans:      transparentize($gray, 0.50),
        x-trans:    transparentize($gray, 0.75),
        xx-trans:   transparentize($gray, 0.95)
    ),
    grayscale-cool: (
        base:       $gray-cool,
        light:      mix($white, $gray-cool, 50%),
        x-light:    mix($white, $gray-cool, 75%),
        xx-light:   mix($white, $gray-cool, 85%),
        dark:       mix($black, $gray-cool, 50%),
        x-dark:     mix($black, $gray-cool, 75%),
        trans:      transparentize($gray-cool, 0.50),
        x-trans:    transparentize($gray-cool, 0.75),
        xx-trans:   transparentize($gray-cool, 0.95)
    ),
    success: (
        base:       $success,
        light:      mix($white, $success, 33%),
        dark:       mix($black, $success, 33%),
        trans:      transparentize($success, 0.50),
        x-trans:    transparentize($success, 0.75),
        xx-trans:   transparentize($success, 0.95)
    ),
    error: (
        base:       $error,
        light:      mix($white, $error, 33%),
        dark:       mix($black, $error, 33%),
        trans:      transparentize($error, 0.50),
        x-trans:    transparentize($error, 0.75),
        xx-trans:   transparentize($error, 0.95)
    ),
    warning: (
        base:       $warning,
        light:      mix($white, $warning, 33%),
        dark:       mix($black, $warning, 33%),
        trans:      transparentize($warning, 0.50),
        x-trans:    transparentize($warning, 0.75),
        xx-trans:   transparentize($warning, 0.95)
    ),
    information: (
        base:       $information,
        light:      mix($white, $information, 33%),
        dark:       mix($black, $information, 33%),
        trans:      transparentize($information, 0.50),
        x-trans:    transparentize($information, 0.75),
        xx-trans:   transparentize($information, 0.95)
    ),
);

// shadows
$shadow: transparentize(palette(grayscale, black-t), .5);


// ----------------------------
// #TYPOGRAPHY
// ----------------------------
// typography: Open Sans

$open-sans-font-path: '#{$font-path}/OpenSans' !default;
$edx-icons-font-path: '#{$font-path}/edx-icons' !default;

@include font-face(
    'Open Sans',
    '#{$open-sans-font-path}/OpenSans-Light-webfont',
    300,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$open-sans-font-path}/OpenSans-LightItalic-webfont',
    300,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$open-sans-font-path}/OpenSans-Regular-webfont',
    400,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$open-sans-font-path}/OpenSans-Italic-webfont',
    400,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$open-sans-font-path}/OpenSans-Semibold-webfont',
    600,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$open-sans-font-path}/OpenSans-SemiboldItalic-webfont',
    600,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$open-sans-font-path}/OpenSans-Bold-webfont',
    700,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '#{$open-sans-font-path}/OpenSans-BoldItalic-webfont',
    700,
    italic,
    $file-formats: woff woff2 ttf
);

@include font-face(
    'edx-icons',
    '#{$edx-icons-font-path}/edx-icons',
    300,
    $file-formats: woff ttf // NOTE: woff2 format currently not supported by IcoMoon font output
);

// typography: config - stacks
$font-family-sans-serif:    'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-serif:         'Georgia', Cambria, 'Times New Roman', Times, serif !default;
$font-family-monospace:     'Bitstream Vera Sans Mono', Consolas, Courier, monospace !default;
$icon-font:                 'edx-icons', 'Open Sans', sans-serif !default;

// typography: sizes
$font-sizes: (
    xxxx-large:     38,
    xxx-large:      28,
    xx-large:       24,
    x-large:        21,
    large:          18,
    base:           16,
    small:          14,
    x-small:        12,
    xx-small:       11,
    xxx-small:      10,
);

// typography: line-height
$line-heights: (
    xxxx-large:     1.40,
    xxx-large:      1.40,
    xx-large:       1.40,
    x-large:        1.50,
    large:          1.60,
    base:           1.5,
    small:          1.60,
    x-small:        1.5,
    xx-small:       1.5,
    xxx-small:      1.5,
    none:           0
);

// typography: weights
$font-weights: (
    normal:         400,
    light:          300,
    x-light:        200,
    semi-bold:      600,
    bold:           700
);

// typography: letter-spacing
$letter-spacing: (
    normal:         0,
    xx-tight:       -3,
    x-tight:        -2,
    tight:          -.095,
    loose:          .5,
    x-loose:        1,
    xx-loose:       2
);


// ----------------------------
// #DEPTH
// ----------------------------
$z-depths: (
    base:           1,
    mid-back:       -10,
    back:           -100,
    very-back:      -1000,
    mid-front:      10,
    front:          100,
    very-front:     1000
);


// ----------------------------
// #SPACING
// ----------------------------
// spacing - baseline
$baseline:                  20px !default;

// vertical spacing
$baseline-vertical:         ($baseline*2) !default;

$spacing-vertical:          (
    base:                   $baseline-vertical,
    mid-small:              ($baseline-vertical*0.75),
    small:                  ($baseline-vertical/2),
    x-small:                ($baseline-vertical/4),
    xx-small:               ($baseline-vertical/8),
    xxx-small:              ($baseline-vertical/10),
    mid-large:              ($baseline-vertical*1.5),
    large:                  ($baseline-vertical*2),
    x-large:                ($baseline-vertical*4)
);

// horizontal spacing
$baseline-horizontal:       $baseline !default;

$spacing-horizontal:        (
    base:                   $baseline-horizontal,
    mid-small:              ($baseline-horizontal*0.75),
    small:                  ($baseline-horizontal/2),
    x-small:                ($baseline-horizontal/4),
    xx-small:               ($baseline-horizontal/8),
    mid-large:              ($baseline-horizontal*1.5),
    large:                  ($baseline-horizontal*2),
    x-large:                ($baseline-horizontal*4)
);


// ----------------------------
// #TIMING
// ----------------------------
$timing: (
    base:       0.75s,
    slow:       1s,
    x-slow:     1.5s,
    fast:       0.5s,
    x-fast:     0.25s,
    xx-fast:    0.125s
);


// ----------------------------
// #APPLICATIONS
// ----------------------------
// base component settings
$component-focus-color:                     inherit !default;
$component-focus-bg:                        palette(primary, xx-trans) !default;
$component-active-color:                    palette(grayscale, white) !default;
$component-active-bg:                       palette(primary, base) !default;
$component-border-radius:                   3px !default;

// base text settings
$text-base-font-family:                     $font-family-sans-serif !default;
$text-base-color:                           palette(grayscale, x-dark) !default;
$text-base-font-weight:                     font-weight(normal) !default;
$text-base-focus-color:                     palette(grayscale, black-t) !default;

$text-emphasized-color:                     palette(grayscale, black-t) !default;
$text-emphasized-font-weight:               font-weight(normal) !default;

$text-de-emphasized-color:                  palette(grayscale, dark) !default;
$text-de-emphasized-font-weight:            font-weight(normal) !default;


// links
$link-color:                                palette(primary, dark) !default;
$link-focus-color:                          palette(primary, base) !default;
$link-visited-color:                        palette(primary, dark) !default;
