$icon-linkedin-square: "\e600";
$icon-caret-down: "\e601";
$icon-caret-up: "\e602";
$icon-caret-left: "\e603";
$icon-caret-right: "\e604";
$icon-dot-circle-o: "\e605";
$icon-square-o: "\e606";
$icon-square: "\e607";
$icon-circle: "\e608";
$icon-circle-thin: "\e609";
$icon-genderless: "\e609";
$icon-search: "\e60a";
$icon-envelope-o: "\e60b";
$icon-star: "\e60c";
$icon-user: "\e60d";
$icon-check: "\e60e";
$icon-close: "\e60f";
$icon-remove: "\e60f";
$icon-times: "\e60f";
$icon-search-plus: "\e610";
$icon-search-minus: "\e611";
$icon-cog: "\e612";
$icon-gear: "\e612";
$icon-trash-o: "\e613";
$icon-home: "\e614";
$icon-file-o: "\e615";
$icon-clock-o: "\e616";
$icon-refresh: "\e617";
$icon-list-alt: "\e618";
$icon-lock: "\e619";
$icon-flag: "\e61a";
$icon-volume-off: "\e61b";
$icon-volume-down: "\e61c";
$icon-volume-up: "\e61d";
$icon-book: "\e61e";
$icon-print: "\e61f";
$icon-camera: "\e620";
$icon-video-camera: "\e621";
$icon-pencil: "\e622";
$icon-edit: "\e623";
$icon-pencil-square-o: "\e623";
$icon-share-square-o: "\e624";
$icon-check-square-o: "\e625";
$icon-fast-backward: "\e626";
$icon-play: "\e627";
$icon-pause: "\e628";
$icon-stop: "\e629";
$icon-fast-forward: "\e62a";
$icon-chevron-left: "\e62b";
$icon-chevron-right: "\e62c";
$icon-times-circle: "\e62d";
$icon-question-circle: "\e62e";
$icon-info-circle: "\e62f";
$icon-times-circle-o: "\e630";
$icon-arrow-up: "\e631";
$icon-arrow-down: "\e632";
$icon-compress: "\e633";
$icon-plus: "\e634";
$icon-minus: "\e635";
$icon-exclamation-circle: "\e636";
$icon-eye: "\e637";
$icon-eye-slash: "\e638";
$icon-exclamation-triangle: "\e639";
$icon-warning: "\e639";
$icon-calendar: "\e63a";
$icon-comment: "\e63b";
$icon-shopping-cart: "\e63c";
$icon-twitter-square: "\e63d";
$icon-facebook-square: "\e63e";
$icon-comments: "\e63f";
$icon-thumb-tack: "\e640";
$icon-external-link: "\e641";
$icon-upload: "\e642";
$icon-square-o2: "\e643";
$icon-bullhorn: "\e644";
$icon-arrow-circle-down: "\e645";
$icon-filter: "\e646";
$icon-arrows-alt: "\e647";
$icon-chain: "\e648";
$icon-link: "\e648";
$icon-copy: "\e649";
$icon-files-o: "\e649";
$icon-bars: "\e64a";
$icon-navicon: "\e64a";
$icon-reorder: "\e64a";
$icon-list-ul: "\e64b";
$icon-table: "\e64c";
$icon-money: "\e64d";
$icon-sort: "\e64e";
$icon-unsorted: "\e64e";
$icon-envelope: "\e64f";
$icon-rotate-left: "\e650";
$icon-undo: "\e650";
$icon-sitemap: "\e651";
$icon-angle-left: "\e652";
$icon-angle-right: "\e653";
$icon-angle-up: "\e654";
$icon-angle-down: "\e655";
$icon-circle-o: "\e656";
$icon-quote-left: "\e657";
$icon-spinner: "\e658";
$icon-mail-reply: "\e659";
$icon-reply: "\e659";
$icon-chain-broken: "\e65a";
$icon-unlink: "\e65a";
$icon-unlock-alt: "\e65b";
$icon-ellipsis-h: "\e65c";
$icon-check-square: "\e65d";
$icon-file: "\e65e";
$icon-cc: "\e65f";
