// ------------------------------
// edX Pattern Library Site: Components

// About: styling for specific UI components ranging from global to modular.

// ------------------------------
// #HEADINGS
// ------------------------------

// ------------------------------
// #CONTROLS
// ------------------------------

// tab panels and examples
.example-set {
    @extend %clear-last-child;
    padding-bottom: spacing-vertical(mid-large);
    border-bottom: spacing-vertical(xx-small) solid palette(grayscale, xx-light);
    margin-bottom: spacing-vertical(mid-large);

    .button-overlay-demo {
        padding: spacing-vertical(mid-large) spacing-horizontal(mid-large);
        background: palette(grayscale, base);
    }
}

// ------------------------------
// #HEADER
// ------------------------------
.pl-header-site-title {
    display: inline-block;
    vertical-align: middle;

    @include media($bp-large) {
        margin: 0 0 spacing-vertical(base) 0;
    }

    .title-name, .title-description {
        display: block;
    }

    .title-name {
        margin-bottom: spacing-vertical(x-small);
        color: palette(grayscale, white);
        font-size: font-size(base);
        font-weight: font-weight(bold);
        text-transform: uppercase;
        letter-spacing: rem(1);

        // STATE: hover, active, focus
        &:hover,
        &:active,
        &:focus {
            color: palette(primary, sat);
        }
    }

    .title-description {
        color: palette(grayscale, mid-light);
        font-size: font-size(mid-small);
        font-weight: font-weight(normal);
    }

    .pl-link {
        border: none;
    }
}

// ------------------------------
// #NAVIGATION
// ------------------------------
// navigation - sidebar-based
.pl-nav {
    margin-bottom: spacing-vertical(large);

    // CASE: last element
    &:last-child {
        margin-bottom: 0;
    }

    .nav-list {
        @extend %reset-lists;
        margin: 0;
    }


    .pl-link {
        @include transition(background 0.25s ease-in-out);
        display: block;
        border-bottom: 1px solid palette(grayscale, x-dark);
        padding: spacing-vertical(small) spacing-horizontal(base);
        color: palette(grayscale, x-light);
        text-decoration: none;
        font-size: font-size(mid-small);
        font-weight: font-weight(semi-bold);

        // STATE: hover, active, and focus
        &:hover,
        &:active,
        &:focus {
            color: palette(primary, light);
            background: palette(grayscale, x-dark);
        }
    }

    // CASE: last element
    .nav-list-item:last-child {

       .pl-link {
            border-bottom: 0;
       }
    }

    // CASE: item is current
    .nav-list-item.is-current {

        .pl-link:before {
            display: inline-block;
        }
    }
}

// internal site navigation
.pl-nav-internal {

    .pl-link {
        position: relative;

        // is-current indicator
        &:before {
            @include transition(opacity 0.25s ease-in-out);
            @include size(rem(5));
            position: absolute;
            top: rem(18);
            left: spacing-horizontal(small);
            content: '';
            border-radius: 100%;
            opacity: 0;
            background: palette(primary, light);
        }

        // STATE: is current navigation item
        &.is-current {
            color: palette(primary, light);
            background: palette(grayscale, x-dark);

            &:before {
                opacity: 1.0;
            }
        }
    }
}

// external site navigation
.pl-nav-external {

    .pl-link {

        .pl-icon {
            @include transition(opacity 0.25s ease-in-out);
            display: inline-block;
            vertical-align: baseline;
            margin-right: (spacing-horizontal(xx-small));
            font-size: font-size(large);
            line-height: line-height(none);
            opacity: 0.25;
        }

        // STATE: hover, active, and focus
        &:hover,
        &:active,
        &:focus {

            .pl-icon {
                opacity: 1.0;
            }
        }
    }
}

.pl-nav-title {
    margin: 0 spacing-horizontal(base) spacing-vertical(x-small) spacing-horizontal(base);
    color: palette(grayscale, mid-light);
    font-size: font-size(small);
    font-weight: font-weight(semi-bold);
    text-transform: uppercase;
    letter-spacing: rem(1);
}

// navigation - tabs
.pl-tab {
    margin-bottom: spacing-vertical(large);

    // CASE: last element
    &:last-child {
        margin-bottom: 0;
    }

    .pl-heading {
        margin-bottom: spacing-vertical(mid-small);
        color: $heading-color;
        font-size: font-size(mid-large);
        font-weight: font-weight(semi-bold);
        line-height: line-height(base);
    }
}

.pl-tab-content {
    @include transition(box-shadow 0.50s ease-in-out);
    border: rem(1) solid palette(grayscale, x-light);
    @include pad(spacing-vertical(base) spacing-horizontal(mid-small));
    background: palette(grayscale, white-t);
    box-shadow: 0 rem(2) rem(2) 0 palette(grayscale, xx-trans);

    // STATE: hover, active, focus
    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 rem(2) rem(2) 0 palette(grayscale, x-trans);
    }

    @include media($bp-medium) {
        @include pad(spacing-vertical(mid-large) spacing-horizontal(base));
    }
}

// ------------------------------
// #SIDEBAR
// ------------------------------
.pl-wrapper-content-supplemental {
    background: palette(grayscale, mid-dark);
    border-right: rem(4) solid  palette(grayscale, x-dark);
    color: palette(grayscale, x-light);
    font-size: font-size(base);
}

// ------------------------------
// #MAIN CONTENT
// ------------------------------
.pl-wrapper-content-main {
    background: palette(grayscale, xx-light);
    font-size: font-size(base);
}

// ------------------------------
// #FOOTER
// ------------------------------
.pl-footer-site {
    margin: spacing-vertical(base) spacing-horizontal(base);
}

.pl-footer-site-copyright {

    .pl-copy {
        font-size: font-size(mid-small);
        color: palette(grayscale, mid-light);
    }
}

// ------------------------------
// #ELEMENTS
// ------------------------------
.pl-element {
    @include transition(all 0.25s ease-in-out);
    @include pad(spacing-vertical(x-large) spacing-horizontal(base));
    border-bottom: rem(2) solid palette(grayscale, mid-dark);
    box-shadow: inset spacing-horizontal(xx-small) 0 0 0 $transparent;

    // CASE: element is focused on in current URL
    &:target {
        box-shadow: inset spacing-horizontal(xx-small) 0 0 0 palette(primary, light);
    }

    .pl-wrapper-element:first-child & {
        padding-top: spacing-vertical(large);
    }

    // CASE: last element
    .pl-wrapper-element:last-child & {
        border-bottom: 0;
    }

    .example-set-hd {
        margin-bottom: spacing-vertical(mid-small);
    }
}

.pl-element-header {
    @include row();
    margin-bottom: spacing-vertical(base);
    border-bottom: 1px solid palette(grayscale, dark);
    padding-bottom: spacing-vertical(small);
}

.pl-element-title {
    margin-bottom: spacing-vertical(x-small);
    color: $heading-color;
    font-size: font-size(large);
    font-weight: font-weight(semi-bold);

    @include media($bp-medium) {
        @include span-columns(2);
        margin-bottom: 0;
    }

    @include media($bp-large) {
        @include span-columns(4);
    }
}

.pl-element-meta {
    @extend %reset-lists;
    color: palette(grayscale, mid-light);
    font-size: font-size(small);

    @include media($bp-medium) {
        @include span-columns(2);
        @include omega();
        text-align: right;
    }

    @include media($bp-large) {
        @include span-columns(4);
    }

    .meta {
        display: block;

       &:last-child {
            margin-right: 0;
       }

       @include media($bp-medium) {
            display: inline-block;
            vertical-align: middle;
            margin-right: spacing-horizontal(xx-small);
       }
    }

    .meta-updated {
        margin-right: spacing-horizontal(small);
        margin-bottom: spacing-vertical(x-small);

        @include media($bp-medium) {
            margin-bottom: 0;
        }
    }
}


// element info tabs
.pl-tab-labels {
    @include clearfix();
    @extend %reset-lists;
    border-bottom: spacing-vertical(x-small) solid palette(grayscale, x-light);
}

.pl-tab-heading {
    @extend %sr;
}

.pl-tab-label {
    // display: inline-block;
    float: left;
    position: relative;
    bottom: -(spacing-vertical(x-small));

    .pl-link {
        display: block;
        margin: 0;
        border-bottom: spacing-vertical(x-small) solid $transparent;
        padding: spacing-vertical(small) spacing-horizontal(small);
        font-weight: font-weight(semi-bold);
        color: palette(grayscale, base);

        &:hover,
        &:focus {
            border-bottom-color: palette(primary, sat);
            color: palette(primary, sat);
        }

        &.is-active {
            border-bottom-color: palette(grayscale, x-dark);
            color: palette(grayscale, x-dark);
        }
    }
}


// element info
.pl-element-info {
    @extend %reset-copy;
    color: palette(grayscale, base);
}

// markup section of element
.pl-element-markup {

    code {
        font-family: $code-font-family;
    }
}


// ------------------------------
// #SPECIFIC ELEMENTS
// ------------------------------

// color swatches
.pl-element-colors {

    .example-set {
        @include row();
    }

    .example-color {
        @include fill-parent();

        @include media($bp-medium) {
            @include span-columns(1);
            @include omega(4n);
        }

        @include media($bp-large) {
            @include span-columns(2);
            @include omega(4n);
        }
    }
}

// buttons
.pl-element-buttons {

    .example-set {
        @include row();
    }
}

.pl-element-icons {

    .example-set {
        @include row();
    }

    .example-icon {
        @include fill-parent();

        .icon-display {
            width: 24px;
            margin: auto;

            svg {
                @include transition(fill 0.25s ease-in-out);
                width: 100%;
                fill: palette(primary, mid-dark);
            }
        }

        .icon-classname {
            text-align: center;
            font-size: font-size(mid-small);
            color: palette(grayscale, base);
        }

        @include media($bp-medium) {
            @include span-columns(1);
            @include omega(4n);
        }

        @include media($bp-large) {
            @include span-columns(2);
            @include omega(4n);
        }

        &:hover,
        &:focus {

            .icon-display {

                svg {
                    fill: palette(secondary, base); // demonstrating color change simplicity
                }
            }
        }
    }
}


// ------------------------------
// #SYSTEM FEEDBACK
// ------------------------------
%message {
    font-weight: font-weight(semi-bold);
}

%message-warning {
    @extend %message;
    background-color: palette(warning, x-light);
    color: palette(grayscale, black-t);
}

.fail-a11y-color {
    @extend %message-warning;
}
