// ------------------------------
// edX Pattern Library Site: Components

// About: styling for specific UI components ranging from global to modular.

// ------------------------------
// #HEADINGS
// ------------------------------

// ------------------------------
// #CONTROLS
// ------------------------------

// tab panels and examples
.example-set {
    @extend %clear-last-child;
    padding-bottom: spacing-vertical(base);
    border-bottom: rem(2) solid palette(grayscale-cool, x-light);
    margin-bottom: spacing-vertical(base);

    .button-overlay-demo {
        padding: spacing-vertical(mid-large) spacing-horizontal(mid-large);
        background: palette(primary, accent) url(../images/bg-overlay-example.png) 0 50% no-repeat;
        background-size: cover;
    }
}

// ------------------------------
// #HEADER
// ------------------------------
.pl-header-site-title {
    display: inline-block;
    vertical-align: middle;

    @include susy-breakpoint($bp-large, $susy) {
        margin: 0;
    }

    .title-name, .title-description {
        display: block;
    }

    .title-name {
        margin-bottom: spacing-vertical(x-small);
        color: palette(grayscale, white);
        font-size: font-size(base);
        font-weight: font-weight(bold);
        text-transform: uppercase;
        letter-spacing: rem(1);

        // STATE: hover, active, focus
        &:hover,
        &:active,
        &:focus {
            color: palette(primary, accent);
        }
    }

    .title-description {
        color: palette(grayscale, mid-light);
        font-weight: font-weight(normal);
    }

    .pl-link {
        border: none;
    }
}

// ------------------------------
// #NAVIGATION
// ------------------------------
// navigation - sidebar-based
.pl-nav {
    margin-bottom: spacing-vertical(mid-large);

    // CASE: last element
    &:last-child {
        margin-bottom: 0;
    }

    .nav-list {
        @extend %reset-lists;
        margin: 0;
    }


    .pl-link {
        @include transition(background 0.25s ease-in-out);
        display: block;
        border-bottom: 1px solid palette(grayscale, black);
        padding: spacing-vertical(x-small) spacing-horizontal(mid-large);
        color: palette(grayscale, x-light);
        text-decoration: none;
        font-size: font-size(small);
        font-weight: font-weight(semi-bold);

        // STATE: hover, active, and focus
        &:hover,
        &:active,
        &:focus {
            color: palette(primary, light);
            background: palette(grayscale, black);
        }
    }

    // CASE: last element
    .nav-list-item:last-child {

       .pl-link {
            border-bottom: 0;
       }
    }

    // CASE: item is current
    .nav-list-item.is-current {

        .pl-link:before {
            display: inline-block;
        }
    }
}

// internal site navigation
.pl-nav-internal {

    .pl-link {
        position: relative;

        // is-current indicator
        &:before {
            @include transition(opacity 0.25s ease-in-out);
            @include size(rem(5));
            position: absolute;
            top: rem(18);
            @include left(spacing-horizontal(mid-small));
            content: '';
            border-radius: 100%;
            opacity: 0;
            background: palette(primary, accent);
        }

        // STATE: is current navigation item
        &.is-current {
            color: palette(primary, light);
            background: palette(grayscale, black);

            &:before {
                opacity: 1.0;
            }
        }
    }
}

// external site navigation
.pl-nav-external {

    .pl-link {

        .pl-icon {
            @include transition(opacity 0.25s ease-in-out);
            display: inline-block;
            vertical-align: baseline;
            @include margin-right(spacing-horizontal(xx-small));
            font-size: font-size(large);
            line-height: line-height(none);
            opacity: 0.25;
        }

        // STATE: hover, active, and focus
        &:hover,
        &:active,
        &:focus {

            .pl-icon {
                opacity: 1.0;
            }
        }
    }
}

.pl-nav-title {
    margin: 0 spacing-horizontal(mid-large) spacing-vertical(x-small) spacing-horizontal(mid-large);
    color: palette(grayscale, mid-light);
    font-size: font-size(small);
    font-weight: font-weight(semi-bold);
    text-transform: uppercase;
    letter-spacing: rem(1);
}

.pl-tab-content {
    @include transition(box-shadow 0.50s ease-in-out);
    border: rem(1) solid palette(grayscale, x-light);
    padding: spacing-vertical(base) spacing-horizontal(base);
    background: palette(grayscale, white-t);
    box-shadow: 0 rem(2) rem(2) 0 palette(grayscale, xx-trans);

    // STATE: hover, active, focus
    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 rem(2) rem(2) 0 palette(grayscale, x-trans);
    }

    @include susy-breakpoint($bp-medium, $susy) {
       padding: spacing-vertical(base) spacing-horizontal(mid-large);
    }
}

.pl-settings {
    background: palette(grayscale, xx-light);
    margin-bottom: spacing-vertical(large);
    padding: spacing-vertical(small) spacing-horizontal(small);
}

.pl-setting {
    display: inline-block;
    vertical-align: middle;
    @include margin-right(spacing-horizontal(small));

    &:last-child {
         @include margin-right(0);
    }
}

// ------------------------------
// #SIDEBAR
// ------------------------------
.pl-wrapper-content-supplemental {
    background: palette(grayscale-cool, x-dark);
    color: palette(grayscale, x-light);
}

// ------------------------------
// #MAIN CONTENT
// ------------------------------
.pl-wrapper-content-main {
    background: palette(grayscale, xx-light);
}

// ------------------------------
// #FOOTER
// ------------------------------
.pl-footer-site {
    margin: spacing-vertical(base) spacing-horizontal(base);
}

.pl-footer-site-copyright {

    .pl-copy {
        font-size: font-size(small);
        color: palette(grayscale, mid-light);
    }
}

// ------------------------------
// #ELEMENTS
// ------------------------------
.pl-element {
    @include transition(all 0.25s ease-in-out);
    padding: spacing-vertical(mid-large) spacing-horizontal(large);
    border-bottom: rem(2) solid palette(grayscale, mid-dark);
    box-shadow: inset spacing-horizontal(xx-small) 0 0 0 $transparent;

    // CASE: element is focused on in current URL
    &:target {
        box-shadow: inset spacing-horizontal(x-small) 0 0 0 palette(primary, light);
    }

    .pl-wrapper-element:first-child & {
        padding-top: spacing-vertical(mid-large);
    }

    // CASE: last element
    .pl-wrapper-element:last-child & {
        border-bottom: 0;
    }

    .example-set-hd {
        margin-bottom: spacing-vertical(small);
    }
}

.pl-element-header {
    margin-bottom: spacing-vertical(base);
    border-bottom: 1px solid palette(grayscale, dark);
    padding-bottom: spacing-vertical(small);

    .pl-element-meta {
        @extend %reset-lists;
    }
}


// element info tabs
.pl-tab-labels {
    @include clearfix();
    @extend %reset-lists;
    border-bottom: $pl-tab-label-height solid palette(grayscale, x-light);
}

.pl-tab-heading {
    @extend %a11y-hide;
}

.pl-tab-label {
    // display: inline-block;
    float: left;
    position: relative;
    bottom: -(spacing-vertical(xx-small));

    .pl-link {
        display: block;
        margin: 0;
        border-bottom: $pl-tab-label-height solid $transparent;
        padding: spacing-vertical(x-small) spacing-horizontal(mid-small);
        font-weight: font-weight(semi-bold);
        color: palette(grayscale, dark);

        &:hover,
        &:focus {
            border-bottom-color: palette(primary, accent);
            color: palette(primary, accent);
        }

        &.is-active {
            border-bottom-color: palette(grayscale, x-dark);
            color: palette(grayscale, x-dark);
        }
    }
}

// markup section of element
.pl-element-markup {

    code {
        font-family: $font-family-monospace;
    }
}


// ------------------------------
// #SPECIFIC ELEMENTS
// ------------------------------

// color swatches
.pl-element-colors {

    .example-set {
        @include container();
    }

    .example-color {
        display: block;

        @include susy-breakpoint($bp-medium, $susy) {
            @include gallery(3 of 12);
        }
    }
}

// buttons
.pl-element-buttons {

    .example-set {
        @include container();
    }

    .btn {
        display: inline-block;
        vertical-align: middle;
        margin-right: spacing-horizontal(x-small);
        margin-bottom: spacing-vertical(x-small);

        // CASE: last button in set
        &:last-child {
            margin-right: 0;
        }
    }
}

// icons
.pl-element-icons {

    .example-set {
        @include container();
    }

    .example-icon {
        display: block;

        .icon-display {
            width: 24px;
            margin: auto;

            svg {
                @include transition(fill 0.25s ease-in-out);
                width: 100%;
                fill: palette(primary, base);
            }
        }

        .icon-classname {
            @include text-align(center);
            font-size: font-size(small);
            color: palette(grayscale, base);
        }

        @include susy-breakpoint($bp-medium, $susy) {
            @include gallery(3 of 12);
        }

        &:hover,
        &:focus {

            .icon-display {

                svg {
                    fill: palette(primary, accent); // demonstrating color change simplicity
                }
            }
        }
    }
}


// ------------------------------
// #SYSTEM FEEDBACK
// ------------------------------
%message {
    font-weight: font-weight(semi-bold);
}

%message-warning {
    @extend %message;
    background-color: palette(warning, light);
    color: palette(grayscale, black-t);
}

.fail-a11y-color {
    @extend %message-warning;
}
