// ------------------------------
// edX Pattern Library Site: Layouts

// About: styling for generic layouts and responsive support.

// ------------------------------
// #RESPONSIVE
// ------------------------------
// breakpoints

// ------------------------------
// #LAYOUT
// ------------------------------
// view overall
.pl-wrapper-view {
    @include outer-container();
}

// main content
.pl-wrapper-content-main {
    width: calc(100% - $pl-content-supplemental-width);
    margin-left: $pl-content-supplemental-width;
}

// sidebar
.pl-wrapper-content-supplemental {
    @include size($pl-content-supplemental-width 100%);
    position: fixed;
    top: 0;
    left: 0;
    border-right: rem(4) solid palette(grayscale, x-dark);
    background: palette(grayscale, dark);
    color: palette(grayscale, x-light);
    font-size: font-size(base);
}

// color swatches
.swatch {
    display: inline-block;
    width: 20%;
    height: 95px;
    margin: 1% 6%;
    padding: 0;
    border-bottom: 2px solid rgb(37, 184, 90);
    background: white;
    color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);

    &.inaccessible {
        border-bottom: 2px solid rgb(178, 6, 16);
    }

    .swatch-color {
        display: block;
        width: 100%;
        height: 67px;
        text-align: center;
        line-height: 67px;

        .color-class {
            font-size: font-size(small);
            text-transform: uppercase;
        }
    }

    .swatch-meta {
        list-style: none;
        margin: 0;
        padding: 3%;
        font-size: font-size(x-small);
        font-weight: font-weight(bold);
        color: #444;
        text-transform: uppercase;

        .color-hex,
        .color-rgb {
            display: block;
        }
    }

    &.endpoints {
        width: 46%;
        height: 50px;
        margin: 1%;

        .swatch-color {
            height: 30px;
            line-height: 30px;

            .color-class {
                line-height: 30px;
            }
        }
    }

    &.brand {
        width: 29%;
        height: 140px;
        margin: 1.67%;

        .swatch-color {
            height: 110px;
            line-height: 110px;

            .color-class {
                line-height: 80px;
            }
        }

        .swatch-meta {
            padding: 3%;

            .color-hex,
            .color-rgb {
                display: inline-block;
                width: 49%;
            }

            .color-rgb {
                text-align: right;
            }
        }
    }
}

.endpoints {

    &.black {
        background: #000000;
    }

    &.white {
        background: #ffffff;
    }
}

.brand-primary {

    &.base {
        background: palette(primary, base);
    }

    &.mid-light {
        background: palette(primary, mid-light);
    }

    &.light {
        background: palette(primary, light);
    }

    &.x-light {
        background: palette(primary, x-light);
    }

    &.mid-dark {
        background: palette(primary, mid-dark);
    }

    &.dark {
        background: palette(primary, dark);
    }

    &.x-dark {
        background: palette(primary, x-dark);
    }

    &.mid-sat {
        background: palette(primary, mid-sat);
    }

    &.sat {
        background: palette(primary, sat);
    }

    &.x-sat {
        background: palette(primary, x-sat);
    }

    &.mid-trans {
        background: palette(primary, mid-trans);
    }

    &.trans {
        background: palette(primary, trans);
    }

    &.x-trans {
        background: palette(primary, x-trans);
    }

    &.xx-trans {
        background: palette(primary, xx-trans);
    }
}

.brand-secondary {
    background: palette(secondary, base);

    &.base {
        background: palette(secondary, base);
    }

    &.mid-light {
        background: palette(secondary, mid-light);
    }

    &.light {
        background: palette(secondary, light);
    }

    &.x-light {
        background: palette(secondary, x-light);
    }

    &.mid-dark {
        background: palette(secondary, mid-dark);
    }

    &.dark {
        background: palette(secondary, dark);
    }

    &.x-dark {
        background: palette(secondary, x-dark);
    }

    &.mid-sat {
        background: palette(secondary, mid-sat);
    }

    &.sat {
        background: palette(secondary, sat);
    }

    &.x-sat {
        background: palette(secondary, x-sat);
    }

    &.mid-trans {
        background: palette(secondary, mid-trans);
    }

    &.trans {
        background: palette(secondary, trans);
    }

    &.x-trans {
        background: palette(secondary, x-trans);
    }

    &.xx-trans {
        background: palette(secondary, xx-trans);
    }
}

.brand-accent {
    background: palette(accent, base);

    &.base {
        background: palette(accent, base);
    }

    &.mid-light {
        background: palette(accent, mid-light);
    }

    &.light {
        background: palette(accent, light);
    }

    &.x-light {
        background: palette(accent, x-light);
    }

    &.mid-dark {
        background: palette(accent, mid-dark);
    }

    &.dark {
        background: palette(accent, dark);
    }

    &.x-dark {
        background: palette(accent, x-dark);
    }

    &.mid-sat {
        background: palette(accent, mid-sat);
    }

    &.sat {
        background: palette(accent, sat);
    }

    &.x-sat {
        background: palette(accent, x-sat);
    }

    &.mid-trans {
        background: palette(accent, mid-trans);
    }

    &.trans {
        background: palette(accent, trans);
    }

    &.x-trans {
        background: palette(accent, x-trans);
    }

    &.xx-trans {
        background: palette(accent, xx-trans);
    }
}
