// ------------------------------
// edX Pattern Library Site: Main Style Compile

// About: Sass compile for the edX Pattern Library Site. This does not contain styles for other edX products/experiences (e.g. account/onboarding). Any styles defined in the partials contained here should be prefixed with ".pl-" to avoid cascade/run-off into the element stylings.

// Note: the compilation order here follows, but is abbreviated from https://github.com/edx/ux-pattern-library/wiki/Styleguide:-Sass-&-CSS#main-style-compile since this styling should be minimal.

// ------------------------------
// #VENDOR
// ------------------------------
@import '../../vendor/bourbon/bourbon';
@import '../../vendor/neat/neat';

// ------------------------------
// #UTILITIES
// ------------------------------
@import 'utilities';

// ------------------------------
// #BASE
// ------------------------------
@import 'base';

// ------------------------------
// #COMPONENTS
// ------------------------------
@import 'components';

// ------------------------------
// #LAYOUTS
// ------------------------------
@import 'layouts';

// ------------------------------
// #VIEWS
// ------------------------------
@import 'views';
