## PR Cover Letter
- [ ] A detailed description of the changes in the body of the PR
- [ ] If available, a link to the relevant JIRA ticket in the body of the PR
  - `[FEDX-XXXX](https://openedx.atlassian.net/browse/FEDX-XXXX)`

## Documentation Preview
- [ ] Build a preview site using ``gulp preview`` and add the generated link here

## Testing
- [ ] i18n
- [ ] Responsive design
- [ ] RTL

## Reviewers
If you've been tagged for review, please check your corresponding box once you've given the :+1:.
- [ ] Code review: @Reviewer1
- [ ] Code review: @Reviewer2
- [ ] Documentation review: @...
- [ ] UX review: @...
- [ ] Accessibility review: @...
- [ ] Product review: @...

FYI: Tag anyone who might be interested in this PR here.

## Post-review
- [ ] Squash commits
- [ ] Publish packages/doc site
