---
layout: default
title: Home
viewclass:  index
---
<div class="pldoc-list-elements">

    {% assign sorted_elements_posts = site.categories.elements | sort: 'title' %}
    {% for post in sorted_elements_posts %}
    <section class="pldoc-wrapper-element">
        <article class="pldoc-element pldoc-element-{{ post.slug }}" id="{{ post.slug }}" tabindex="-1" aria-label="{{ post.slug }}">

            <header class="pldoc-element-header">
                <h1 class="pldoc-heading pldoc-element-title hd-4">{{ post.title }}</h1>

                <ul class="pldoc-list pldoc-element-meta copy copy-micro de-emphasized">
                    <li class="meta meta-updated">
                        <span class="pldoc-element-meta-updated-label">Last updated on </span>
                        <time class="pldoc-element-meta-updated-value" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-m/%-d/%Y" }}</time>
                    </li>
                    <li class="meta meta-permalink">
                        <a class="pldoc-link" href="{{post.url}}">Permalink <span class="sr-only">to {{ post.slug }}</span></a>
                    </li>
                    {% if post.example %}
                    <li class="meta meta-examplelink">
                        <a class="pldoc-link" href="{{ site.baseurl }}{{ site.exampleurl }}{{post.example}}"><span class="sr-only">View</span>Detailed Example</a>
                    </li>
                    {% endif %}
                </ul>
            </header>

            <div class="pldoc-element-info">
                <p class="copy copy-base">{{post.info}}</p>
            </div>

            <div class="pldoc-tab-wrapper">
                {% if post.tags contains "pattern" %}
                <ul class="pldoc-tab-labels pldoc-list pldoc-element-navigation">
                    <li class="pldoc-tab-label">
                        <button class="pldoc-link pldoc-link-preview is-active" data-href="#{{post.slug}}-preview">Preview</button
                    </li>
                    <li class="pldoc-tab-label">
                        <button class="pldoc-link pldoc-link-markup" data-href="#{{post.slug}}-markup">Markup</button>
                    </li>
                    <li class="pldoc-tab-label">
                        <button class="pldoc-link pldoc-link-styling" data-href="#{{post.slug}}-styling">Styling</button>
                    </li>
                </ul>
                {% endif %}

                <div class="pldoc-tabs">
                    <div class="pldoc-tab pldoc-element-preview is-active" id="{{post.slug}}-preview" tabindex="-1">
                        <h2 class="pldoc-heading pldoc-tab-heading pldoc-element-preview-title">{{post.title}} Preview</h2>

                        <div class="pldoc-tab-content">
                            {% if post.tags contains "icons" %}
                            <div class="pldoc-settings">
                                <div class="pldoc-setting pldoc-setting-sizer">
                                    <label for="iconFontSlider" class="sr-only">Drag to resize icons</label>
                                    <input id="iconFontSlider" type="range" min="12" max="144" step="12" value="24" role="slider" aria-valuemin="12" aria-valuemax="144" aria-valuenow="24">
                                    <label for="iconFontSliderValue" class="sr-only">Icon size in pixels</label>
                                    <input type="text" id="iconFontSliderValue" size="3" value="24" readonly="true">px
                                </div>
                            </div>
                            {% endif %}

                            {{post.content}}
                        </div>
                    </div>

                    {% if post.tags contains "pattern" %}
                    <div class="pldoc-tab pldoc-element-markup is-hidden" id="{{post.slug}}-markup" tabindex="-1">
                        <h2 class="pldoc-heading pldoc-tab-heading pldoc-element-markup-title">{{post.title}} Markup</h2>

                        <div class="pldoc-tab-content">
                            {% highlight html %}
                            {{post.content}}
                            {% endhighlight %}
                        </div>
                    </div>

                    <div class="pldoc-tab pldoc-element-styling is-hidden" id="{{post.slug}}-styling" tabindex="-1">
                        <h2 class="pldoc-heading pldoc-tab-heading pldoc-element-styling-title">{{post.title}} Style</h2>

                        <div class="pldoc-tab-content">
                            <p class="copy copy-base">View <a class="pldoc-link" href="{{post.scssurl}}">the original source of the CSS as SCSS</a> in this project's repo.</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

        </article>
    </section>
    {% endfor %}
</div>

<div class="pldoc-wrapper-link-top">
    <a class="btn btn-secondary btn-large pldoc-link-top" href="#content-top">
        <svg class="icon icon-arrow-up"><use xlink:href="/public/images/edx-svg/svgdefs.svg#icon-arrow-up"></use></svg>
        <span class="icon-text sr-only">Return to the top of this page</span>
    </a>
</div>

