---
layout: default-new
title: Home
viewclass:  index
---
<div class="pldoc-list-patterns">
    {% assign sorted_patterns_posts = site.categories.patterns | sort: 'title' %}
    {% for post in sorted_patterns_posts %}

    {% assign body = post.content %}
    {% include pattern.html %}

    {% endfor %}
</div>

<div class="pldoc-wrapper-link-top">
    <a class="btn btn-large pldoc-link-top" href="#content-top">
    <span class="icon-fallback icon-fallback-text">
        <span class="icon icon-arrow-up" aria-hidden="true"></span>
        <span class="text">Return to the top of this page</span>
    </span>
    </a>
</div>

