// ------------------------------
// edX Pattern Library: Components - Icons

// About: Contains base styling for demonstration and utility for icons, which are currently based on SVGs managed through ico-moon and a polyfill for browser support - https://github.com/jonathantneal/svg4everybody.
// ----------------------------

// ----------------------------
// #GLOBALS
// ----------------------------
.icon {
    position: relative;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    fill: currentColor;
    color: currentColor;
}
