// ------------------------------
// edX Pattern Library: Components - Icons

// About: Contains base styling for demonstration and utility for icons, which are currently based on SVGs managed through ico-moon and a polyfill for browser support - https://github.com/jonathantneal/svg4everybody.
// ----------------------------

// ----------------------------
// #GLOBALS
// ----------------------------
.icon {
    display: inline-block;
    font-size: 1rem;
    fill: currentColor;
}

.icon-replace {
    @extend %a11y-icon;
    color: palette(primary, base);
}
