.bg-replace,.sr-only,svg:not(:root){overflow:hidden}
.copy,dl,h1,h2,h3,h4,h5,h6,ol,p,td,th,ul{font-size:1rem;line-height:1.5;color:#4c4c4c}
.copy,body,dl,h1,h2,h3,h4,h5,h6,ol,p,td,th,ul{font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}
.sr-only,fieldset,img,legend{border:0}
.sr-only,fieldset,figure,legend,td,th{padding:0}
*,:after,:before{box-sizing:inherit}
*,html{box-sizing:border-box}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:url(../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Light-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Light-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Light-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:url(../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-LightItalic-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Regular-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Regular-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Regular-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:url(../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Italic-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Italic-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Italic-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:url(../fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Semibold-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Semibold-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Semibold-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:url(../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:url(../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Bold-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Bold-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Bold-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:url(../fonts/OpenSans/OpenSans-BoldItalic-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-BoldItalic-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-BoldItalic-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-BoldItalic-webfont.svg#Open Sans")format("svg")}
[class^=wrapper]{width:100%}
[class^=wrapper]::after{clear:both;content:"";display:table}
.sr-only{clip:rect(0 0 0 0);height:1px;margin:-1px;position:absolute;width:1px}
.bg-replace{text-indent:100%;white-space:nowrap}
pre,textarea{overflow:auto}
h1,h2,h3,h4,h5,h6{margin:0 0 .55556rem;font-weight:600}
.link,a{transition:all .25s ease-in-out;border-bottom:.05556rem solid transparent;color:#00a2e3;text-decoration:none}
.link:active,.link:focus,.link:hover,a:active,a:focus,a:hover{border-bottom-color:#00acfa;color:#00acfa}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;color:#4c4c4c;background:#f2f2f2;font-size:18;-webkit-font-smoothing:antialiased}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,optgroup,strong{font-weight:700}
dfn{font-style:italic}
h1{margin:.67em 0;font-size:2.11111rem}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
hr{box-sizing:content-box;height:0}
pre{margin:0}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=submit],input[type=reset]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
.hd-1,.hd-2{line-height:1.4}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
textarea{resize:vertical}
table{border-collapse:collapse;border-spacing:0}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
fieldset{margin:0}
figure{display:inline-block;margin:0}
figure img{display:block}
.img,picture{max-width:100%;margin:0}
h2{font-size:1.55556rem}
h3{font-size:1.33333rem}
h4{font-size:1.16667rem}
h5{font-size:1rem}
h6{font-size:.88889rem}
.hd-1.de-emphasized,.hd-2.de-emphasized,.hd-3.de-emphasized,.hd-4.de-emphasized,.hd-5.de-emphasized,.hd-6.de-emphasized{font-weight:600;color:#7f7f7f}
.hd-5,.hd-6{font-weight:800;text-transform:uppercase}
.hd-1{font-size:2.11111rem}
.hd-2{font-size:1.55556rem}
.hd-3{font-size:1.33333rem;line-height:1.5}
.hd-4,.hd-5{line-height:1.6}
.hd-3.de-emphasized{color:#7f7f7f}
.hd-4.de-emphasized,.hd-5.de-emphasized,.hd-6.de-emphasized{color:#4c4c4c}
.hd-4{font-weight:700;font-size:1.16667rem}
.hd-5{font-size:.88889rem}
.hd-6{font-size:.77778rem;line-height:1.5}