// ------------------------------
// edX Pattern Library Site: Layouts

// About: styling for generic layouts and responsive support.

// ------------------------------
// #DOC SITE LAYOUT
// ------------------------------
// header
.pldoc-wrapper-header-site {
    @extend %grid-wrapper;
    margin-bottom: spacing-vertical(mid-large);
}

.pldoc-header-site {
    @extend %grid-container;
    padding-top: spacing-vertical(x-small);
    padding-bottom: spacing-vertical(x-small);
}

.pldoc-header-site-title {
    margin-bottom: 0;
    font-weight: font-weight(bold);
}

// content
.pldoc-wrapper-content {
    @extend %grid-wrapper;
}

.pldoc-content {
    @extend %grid-container;
}

// main content
.pldoc-wrapper-content-main {

    @include susy-breakpoint($bp-screen-md, $susy-default) {
        @include span(9 last);
    }

}

.pldoc-content-main {

}

// sidebar
.pldoc-wrapper-content-supplemental {

    @include susy-breakpoint($bp-screen-md, $susy-default) {
        @include span(3 first);
    }
}

// pattern
.pldoc-wrapper-pattern {
    border-bottom: rem(2) solid palette(grayscale, mid-dark);
    box-shadow: inset spacing-horizontal(xx-small) 0 0 0 $transparent;

    &:last-child {
        border-bottom: none;
    }
}

.pldoc-pattern {
    @extend %grid-row;
}

.pldoc-pattern-header {
    @include clearfix();
}

.pldoc-pattern-title {
    margin-bottom: spacing-vertical(x-small);
    font-size: font-size(xx-large);

    @include susy-breakpoint($bp-screen-xl, $susy-default) {
        @include span(6 first);
        margin-bottom: 0;
    }
}

.pldoc-pattern-meta {
    @include susy-breakpoint($bp-screen-xl, $susy-default) {
        @include span(6 last);
        @include text-align(right);
    }

    .meta-updated {
        margin-bottom: spacing-vertical(x-small);

        @include susy-breakpoint($bp-screen-md, $susy-default) {
            margin-bottom: 0;
        }
    }
}

// ------------------------------
// #GENERAL CANVAS LAYOUT
// ------------------------------
.pldoc-view-example {
    // @extend %depth-0;

    .pldoc-wrapper-view-header {
        margin-bottom: spacing-vertical(base);
        padding: spacing-vertical(mid-small) gutter();
        @extend %depth-1;
    }

    .pldoc-view-header {
        @include container();
    }

    .example {
        margin-bottom: spacing-vertical(base);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
