// ------------------------------
// edX Pattern Library Site: Utilities

// About: configuration, functions, variables, mixins, and general helpers for rendering.

// ------------------------------
// #VARIABLES
// ------------------------------
// pl UI
$pldoc-content-supplemental-width: rem(330); // width of supplemental content sidebar
$pldoc-tab-label-height:           rem(4);  // height of tab labels

// ------------------------------
// #HELPERS
// ------------------------------

// pattern: hide styling tab
%pattern-hide-styling {

    .pldoc-tab-label .pldoc-link-styling,
    .pldoc-pattern-styling {
        display: none;
    }
}

// pattern: hide markup tab
%pattern-hide-markup {

    .pldoc-tab-label .pldoc-link-markup,
    .pldoc-pattern-markup {
        display: none;
    }
}

// ------------------------------
// #BASE RESET
// ------------------------------
// basic
html, body {
    height: 100%;
    color: $text-base-color;
}

.pldoc {
    @extend %depth-0;
}
