// ------------------------------
// edX Pattern Library Site: Utilities

// About: configuration, functions, variables, mixins, and general helpers for rendering.

// ------------------------------
// #VARIABLES
// ------------------------------
// pl UI
$pldoc-content-supplemental-width:  rem(330); // width of supplemental content sidebar
$pldoc-tab-label-height:            rem(4);  // height of tab labels
$pldoc-ui-toolkit-color:            rgb(255, 222, 32);
$pldoc-background-color:            palette(grayscale, white);
$pldoc-link-color:                  palette(primary, dark);


// ------------------------------
// #HELPERS
// ------------------------------

// pattern: hide styling tab
%pattern-hide-styling {

    .pldoc-tab-label .pldoc-link-styling,
    .pldoc-pattern-styling {
        display: none;
    }
}

// pattern: hide markup tab
%pattern-hide-markup {

    .pldoc-tab-label .pldoc-link-markup,
    .pldoc-pattern-markup {
        display: none;
    }
}

// ------------------------------
// #BASE RESET
// ------------------------------
// basic
html, body {
    height: 100%;
    color: $text-base-color;
}

.pldoc {
    @extend %depth-0;
    background-color: $pldoc-background-color;
}

a {
    color: $pldoc-link-color;
}
