// ------------------------------
// edX Pattern Library Site: Main Style Compile - LTR

// About: Sass compile for the edX Pattern Library Site. This does not contain styles for other edX products/experiences (e.g. account/onboarding). Any styles defined in the partials contained here should be prefixed with ".pldoc-" to avoid cascade/run-off into the element stylings.


// ------------------------------
// #CONFIG - layout direction
// ------------------------------
@import 'ltr';                        // LTR-specifc settings and utilities

// ------------------------------
// #BUILD
// ------------------------------
@import 'build';                      // shared compile/build order for both LTR and RTL UI
