<header class="pl-header-site">
    {% if page.title == "Home" %}
    <h1 class="pl-header-site-title">
        <a class="pl-link title-name" href="{{ site.baseurl }}">
            {{ site.title }}
        </a>
        <span class="title-description copy copy-base">{{ site.tagline }}</span>
    </h1>
    {% else %}
    <h2 class="pl-header-site-title">
        <a class="pl-link title-name" href="{{ site.baseurl }}">
            {{ site.title }}
        </a>
        <span class="title-description copy copy-base">{{ site.tagline }}</span>
    </h2>
    {% endif %}
</header>
