<header class="pldoc-header-site" role="banner" aria-labelledby="pldoc_header_site_title">
    {% if page.title == "Home" %}
    <h1 class="pldoc-header-site-title" id="pldoc_header_site_title">
        <a class="pldoc-link title-name" href="{{ site.baseurl }}">
            {{ site.title }}
        </a>
    </h1>
    <span class="title-description copy copy-base">{{ site.tagline }}</span>
    {% else %}
    <h2 class="pldoc-header-site-title">
        <a class="pldoc-link title-name" href="{{ site.baseurl }}">
            {{ site.title }}
        </a>
    </h2>
    <span class="title-description copy copy-base">{{ site.tagline }}</span>
    {% endif %}
</header>
