<header class="pldoc-header-site" role="banner" aria-labelledby="pldoc-header-site-title">
    {% if page.title == "Home" %}
    <h1 class="pldoc-header-site-title" id="pldoc-header-site-title">
        <a class="pldoc-link title-name" href="{{ site.baseurl }}">
            {{ site.title }}
        </a>
    </h1>
    {% else %}
    <h2 class="pldoc-header-site-title" id="pldoc-header-site-title">
        <a class="pldoc-link title-name" href="{{ site.baseurl }}">
            {{ site.title }}
        </a>
    </h2>
    {% endif %}
    <span class="pldoc-title-description copy-base">{{ site.tagline }}</span>
</header>
