// ------------------------------
// Demo: Third Party Libraries

// About: third party libraries and dependencies import

@import '../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../../node_modules/susy/sass/susy';
@import '../../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// reference RTL/LTR specific libs
@if $layout-direction == rtl {
    @import '../../../node_modules/bi-app-sass/bi-app/bi-app-rtl';
} @else {
    @import '../../../node_modules/bi-app-sass/bi-app/bi-app-ltr';
}
