.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.svg);
}
.icon-account-user-square {
	width: 16px;
	height: 16px;
	background-position: 0 0;
}
.icon-account-user-circle {
	width: 16px;
	height: 16px;
	background-position: -32px 0;
}
.icon-alarm {
	width: 16px;
	height: 16px;
	background-position: -64px 0;
}
.icon-assignment {
	width: 16px;
	height: 16px;
	background-position: -96px 0;
}
.icon-bookmark-dark {
	width: 16px;
	height: 16px;
	background-position: -128px 0;
}
.icon-bookmark-light {
	width: 16px;
	height: 16px;
	background-position: -160px 0;
}
.icon-credit-card {
	width: 16px;
	height: 16px;
	background-position: -192px 0;
}
.icon-delete {
	width: 16px;
	height: 16px;
	background-position: -224px 0;
}
.icon-page {
	width: 16px;
	height: 16px;
	background-position: -256px 0;
}
.icon-favorite-dark {
	width: 16px;
	height: 16px;
	background-position: -288px 0;
}
.icon-favorite-light {
	width: 16px;
	height: 16px;
	background-position: -320px 0;
}
.icon-help {
	width: 16px;
	height: 16px;
	background-position: -352px 0;
}
.icon-close-circle-light {
	width: 16px;
	height: 16px;
	background-position: -384px 0;
}
.icon-home {
	width: 16px;
	height: 16px;
	background-position: -416px 0;
}
.icon-new-window {
	width: 16px;
	height: 16px;
	background-position: -448px 0;
}
.icon-lock-unlocked {
	width: 16px;
	height: 16px;
	background-position: -480px 0;
}
.icon-lock-locked {
	width: 16px;
	height: 16px;
	background-position: 0 -32px;
}
.icon-comment-multiple {
	width: 16px;
	height: 16px;
	background-position: -32px -32px;
}
.icon-clock {
	width: 16px;
	height: 16px;
	background-position: -64px -32px;
}
.icon-search {
	width: 16px;
	height: 16px;
	background-position: -96px -32px;
}
.icon-settings {
	width: 16px;
	height: 16px;
	background-position: -128px -32px;
}
.icon-shopping-cart {
	width: 16px;
	height: 16px;
	background-position: -160px -32px;
}
.icon-video {
	width: 16px;
	height: 16px;
	background-position: -192px -32px;
}
.icon-alert-error {
	width: 16px;
	height: 16px;
	background-position: -224px -32px;
}
.icon-alert-warning {
	width: 16px;
	height: 16px;
	background-position: -256px -32px;
}
.icon-closed-caption {
	width: 16px;
	height: 16px;
	background-position: -288px -32px;
}
.icon-fast-forward {
	width: 16px;
	height: 16px;
	background-position: -320px -32px;
}
.icon-fast-rewind {
	width: 16px;
	height: 16px;
	background-position: -352px -32px;
}
.icon-hd {
	width: 16px;
	height: 16px;
	background-position: -384px -32px;
}
.icon-pause {
	width: 16px;
	height: 16px;
	background-position: -416px -32px;
}
.icon-play {
	width: 16px;
	height: 16px;
	background-position: -448px -32px;
}
.icon-skip-next {
	width: 16px;
	height: 16px;
	background-position: -480px -32px;
}
.icon-skip-previous {
	width: 16px;
	height: 16px;
	background-position: 0 -64px;
}
.icon-stop {
	width: 16px;
	height: 16px;
	background-position: -32px -64px;
}
.icon-comment-single-left {
	width: 16px;
	height: 16px;
	background-position: -64px -64px;
}
.icon-add {
	width: 16px;
	height: 16px;
	background-position: -96px -64px;
}
.icon-add-square-dark {
	width: 16px;
	height: 16px;
	background-position: -128px -64px;
}
.icon-add-circle-dark {
	width: 16px;
	height: 16px;
	background-position: -160px -64px;
}
.icon-add-circle-light {
	width: 16px;
	height: 16px;
	background-position: -192px -64px;
}
.icon-copy {
	width: 16px;
	height: 16px;
	background-position: -224px -64px;
}
.icon-paste {
	width: 16px;
	height: 16px;
	background-position: -256px -64px;
}
.icon-create {
	width: 16px;
	height: 16px;
	background-position: -288px -64px;
}
.icon-mail-open {
	width: 16px;
	height: 16px;
	background-position: -320px -64px;
}
.icon-flag {
	width: 16px;
	height: 16px;
	background-position: -352px -64px;
}
.icon-mail-closed {
	width: 16px;
	height: 16px;
	background-position: -384px -64px;
}
.icon-remove-dark {
	width: 16px;
	height: 16px;
	background-position: -416px -64px;
}
.icon-remove-light {
	width: 16px;
	height: 16px;
	background-position: -448px -64px;
}
.icon-attachment {
	width: 16px;
	height: 16px;
	background-position: -480px -64px;
}
.icon-quotes {
	width: 16px;
	height: 16px;
	background-position: 0 -96px;
}
.icon-comment-single-right {
	width: 16px;
	height: 16px;
	background-position: -32px -96px;
}
.icon-download {
	width: 16px;
	height: 16px;
	background-position: -64px -96px;
}
.icon-upload {
	width: 16px;
	height: 16px;
	background-position: -96px -96px;
}
.icon-privacy {
	width: 16px;
	height: 16px;
	background-position: -128px -96px;
}
.icon-location {
	width: 16px;
	height: 16px;
	background-position: -160px -96px;
}
.icon-mobile-menu {
	width: 16px;
	height: 16px;
	background-position: -192px -96px;
}
.icon-arrow-left {
	width: 16px;
	height: 16px;
	background-position: -224px -96px;
}
.icon-caret-down {
	width: 16px;
	height: 16px;
	background-position: -256px -96px;
}
.icon-caret-up {
	width: 16px;
	height: 16px;
	background-position: -288px -96px;
}
.icon-arrow-right {
	width: 16px;
	height: 16px;
	background-position: -320px -96px;
}
.icon-close-circle-dark {
	width: 16px;
	height: 16px;
	background-position: -352px -96px;
}
.icon-check {
	width: 16px;
	height: 16px;
	background-position: -384px -96px;
}
.icon-chevron-left {
	width: 16px;
	height: 16px;
	background-position: -416px -96px;
}
.icon-chevron-right {
	width: 16px;
	height: 16px;
	background-position: -448px -96px;
}
.icon-close {
	width: 16px;
	height: 16px;
	background-position: -480px -96px;
}
.icon-chevron-up {
	width: 16px;
	height: 16px;
	background-position: 0 -128px;
}
.icon-chevron-down {
	width: 16px;
	height: 16px;
	background-position: -32px -128px;
}
.icon-fullscreen-enter {
	width: 16px;
	height: 16px;
	background-position: -64px -128px;
}
.icon-fullscreen-exit {
	width: 16px;
	height: 16px;
	background-position: -96px -128px;
}
.icon-menu {
	width: 16px;
	height: 16px;
	background-position: -128px -128px;
}
.icon-menu-dots-horizontal {
	width: 16px;
	height: 16px;
	background-position: -160px -128px;
}
.icon-menu-dots-vertical {
	width: 16px;
	height: 16px;
	background-position: -192px -128px;
}
.icon-refresh {
	width: 16px;
	height: 16px;
	background-position: -224px -128px;
}
.icon-collapse {
	width: 16px;
	height: 16px;
	background-position: -256px -128px;
}
.icon-expand {
	width: 16px;
	height: 16px;
	background-position: -288px -128px;
}
.icon-blocked {
	width: 16px;
	height: 16px;
	background-position: -320px -128px;
}
.icon-notifications-dark {
	width: 16px;
	height: 16px;
	background-position: -352px -128px;
}
.icon-notifications-light {
	width: 16px;
	height: 16px;
	background-position: -384px -128px;
}
.icon-users {
	width: 16px;
	height: 16px;
	background-position: -416px -128px;
}
.icon-user {
	width: 16px;
	height: 16px;
	background-position: -448px -128px;
}
.icon-user-add {
	width: 16px;
	height: 16px;
	background-position: -480px -128px;
}
.icon-share {
	width: 16px;
	height: 16px;
	background-position: 0 -160px;
}
.icon-checkbox-checked {
	width: 16px;
	height: 16px;
	background-position: -32px -160px;
}
.icon-checkbox {
	width: 16px;
	height: 16px;
	background-position: -64px -160px;
}
.icon-radio {
	width: 16px;
	height: 16px;
	background-position: -96px -160px;
}
.icon-radio-checked {
	width: 16px;
	height: 16px;
	background-position: -128px -160px;
}
.icon-star-full {
	width: 16px;
	height: 16px;
	background-position: -160px -160px;
}
.icon-dark-half {
	width: 16px;
	height: 16px;
	background-position: -192px -160px;
}
.icon-star-none {
	width: 16px;
	height: 16px;
	background-position: -224px -160px;
}
