.pl-element-info,.pl-heading{font-size:1rem;line-height:1.5;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}
img,legend{border:0}
.pl-header-site-title .title-name,.pl-nav-title{text-transform:uppercase;letter-spacing:.05556rem}
*,:after,:before{box-sizing:inherit}
*,html{box-sizing:border-box}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:url(../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Light-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Light-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Light-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:url(../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-LightItalic-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Regular-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Regular-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Regular-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:url(../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Italic-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Italic-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Italic-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:url(../fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Semibold-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Semibold-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Semibold-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:url(../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:url(../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-Bold-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-Bold-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-Bold-webfont.svg#Open Sans")format("svg")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:url(../fonts/OpenSans/OpenSans-BoldItalic-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/OpenSans/OpenSans-BoldItalic-webfont.woff)format("woff"),url(../fonts/OpenSans/OpenSans-BoldItalic-webfont.ttf)format("truetype"),url("../fonts/OpenSans/OpenSans-BoldItalic-webfont.svg#Open Sans")format("svg")}
.example-set:last-child{margin-bottom:0;padding-bottom:0;border-bottom:none}
.is-hidden,.pl-sr,.pl-tab-heading{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.pl-nav-internal .pl-link,sub,sup{position:relative}
.pl-element-meta,.pl-nav .nav-list,.pl-tab-labels{list-style:none;text-indent:0;margin:0;padding:0}
.pl-heading{margin:0 0 1.11111rem}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,optgroup,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
.pl,.pl-wrapper-view{background:#dfdfdf}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
pre,textarea{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=radio],input[type=checkbox]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{padding:0}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
body,html{height:100%;color:#1f1f1f}
.pl{font-size:18;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased}
.pl-link{transition:all .15s ease-in-out;border-bottom:.05556rem solid transparent;color:#007aba;text-decoration:none}
.pl-link:active,.pl-link:focus,.pl-link:hover{border-bottom-color:#0081d1;color:#0081d1}
.pl img,.pl picture{max-width:100%;margin:0}
.pl pre{margin:0}
.example-set{padding-bottom:1.66667rem;border-bottom:solid #f2f2f2;margin-bottom:1.66667rem}
.example-set .button-overlay-demo{padding:1.66667rem 3.33333rem;background:#7f7f7f}
.pl-header-site-title{display:inline-block;vertical-align:middle}
@media screen and (min-width:1000px){.pl-header-site-title{margin:0 0 1.11111rem}}
.pl-header-site-title .title-description,.pl-header-site-title .title-name{display:block}
.pl-header-site-title .title-name{margin-bottom:.27778rem;color:#fbfbfb;font-size:1rem;font-weight:700}
.pl-header-site-title .title-name:active,.pl-header-site-title .title-name:focus,.pl-header-site-title .title-name:hover{color:#0081d1}
.pl-header-site-title .title-description{color:#b2b2b2;font-size:.88889rem;font-weight:400}
.pl-header-site-title .pl-link{border:none}
.pl-nav{margin-bottom:2.22222rem}
.pl-nav:last-child{margin-bottom:0}
.pl-nav .nav-list{margin:0}
.pl-nav .pl-link{transition:background .25s ease-in-out;display:block;border-bottom:1px solid #1f1f1f;padding:.55556rem 2.22222rem;color:#dfdfdf;text-decoration:none;font-size:.88889rem;font-weight:600}
.pl-nav .pl-link:active,.pl-nav .pl-link:focus,.pl-nav .pl-link:hover{color:#3f9bcb;background:#1f1f1f}
.pl-nav .nav-list-item:last-child .pl-link{border-bottom:0}
.pl-nav .nav-list-item.is-current .pl-link:before{display:inline-block}
.pl-nav-internal .pl-link:before{transition:opacity .25s ease-in-out;height:.27778rem;width:.27778rem;position:absolute;top:1rem;left:1.11111rem;content:'';border-radius:100%;opacity:0;background:#3f9bcb}
.pl-element-buttons .example-set::after,.pl-element-colors .example-set::after,.pl-element-header::after,.pl-tab-labels::after,.pl-wrapper-element::after{content:""}
.pl-nav-internal .pl-link.is-current{color:#3f9bcb;background:#1f1f1f}
.pl-nav-internal .pl-link.is-current:before{opacity:1}
.pl-nav-external .pl-link .pl-icon{transition:opacity .25s ease-in-out;display:inline-block;vertical-align:baseline;margin-right:.27778rem;font-size:1.16667rem;line-height:0;opacity:.25}
.pl-nav-external .pl-link:active .pl-icon,.pl-nav-external .pl-link:focus .pl-icon,.pl-nav-external .pl-link:hover .pl-icon{opacity:1}
.pl-nav-title{margin:0 2.22222rem .27778rem;color:#b2b2b2;font-size:.77778rem;font-weight:600}
.pl-tab{margin-bottom:2.22222rem}
.pl-tab:last-child{margin-bottom:0}
.pl-tab .pl-heading{margin-bottom:.83333rem;color:palette(grayscale,dark);font-size:1rem;font-weight:600;line-height:1.5}
.pl-tab-content{transition:box-shadow .5s ease-in-out;border:.05556rem solid #dfdfdf;padding:1.11111rem 1.66667rem;background:#fff;box-shadow:0 .11111rem .11111rem 0 rgba(127,127,127,.05)}
.pl-tab-content:active,.pl-tab-content:focus,.pl-tab-content:hover{box-shadow:0 .11111rem .11111rem 0 rgba(127,127,127,.25)}
@media screen and (min-width:800px){.pl-tab-content{padding:1.66667rem 2.22222rem}}
.pl-wrapper-content-main{background:#f2f2f2;font-size:1rem}
.pl-footer-site{margin:1.11111rem 2.22222rem}
.pl-footer-site-copyright .pl-copy{font-size:.88889rem;color:#b2b2b2}
.pl-element{transition:all .25s ease-in-out;padding:4.44444rem 2.22222rem;border-bottom:.11111rem solid #4c4c4c;box-shadow:inset .27778rem 0 0 0 transparent}
.pl-element:target{box-shadow:inset .27778rem 0 0 0 #3f9bcb}
.pl-wrapper-element:first-child .pl-element{padding-top:2.22222rem}
.pl-wrapper-element:last-child .pl-element{border-bottom:0}
.pl-element .example-set-hd{margin-bottom:.83333rem}
.pl-element-header{display:block;margin-bottom:1.11111rem;border-bottom:1px solid #3f3f3f;padding-bottom:.55556rem}
.pl-element-header::after{clear:both;display:table}
.pl-element-title{margin-bottom:.27778rem;color:palette(grayscale,dark);font-size:1.16667rem;font-weight:600}
@media screen and (min-width:800px){.pl-element-title{float:left;display:block;margin-right:7.42297%;width:46.28851%;margin-bottom:0}
.pl-element-title:last-child{margin-right:0}}
@media screen and (min-width:1000px){.pl-element-title{float:left;display:block;margin-right:3.57866%;width:48.21067%}
.pl-element-title:last-child{margin-right:0}}
.pl-element-meta{color:#b2b2b2;font-size:.77778rem}
@media screen and (min-width:800px){.pl-element-meta{float:left;display:block;width:46.28851%;margin-right:0;text-align:right}
.pl-element-meta:last-child{margin-right:0}}
@media screen and (min-width:1000px){.pl-element-meta{float:left;display:block;margin-right:3.57866%;width:48.21067%}
.pl-element-meta:last-child{margin-right:0}}
.pl-element-meta .meta{display:block}
.pl-element-meta .meta:last-child{margin-right:0}
@media screen and (min-width:800px){.pl-element-meta .meta{display:inline-block;vertical-align:middle;margin-right:.27778rem}}
.pl-element-meta .meta-updated{margin-right:1.11111rem;margin-bottom:.27778rem}
.pl-tab-labels{border-bottom:.27778rem solid #dfdfdf}
.pl-tab-labels::after{clear:both;display:table}
.pl-tab-label{float:left;position:relative;bottom:-.27778rem}
.pl-tab-label .pl-link{display:block;margin:0;border-bottom:.27778rem solid transparent;padding:.55556rem 1.11111rem;font-weight:600;color:#7f7f7f}
.pl-tab-label .pl-link:focus,.pl-tab-label .pl-link:hover{border-bottom-color:#0081d1;color:#0081d1}
.pl-tab-label .pl-link.is-active{border-bottom-color:#1f1f1f;color:#1f1f1f}
.pl-element-info{color:#7f7f7f}
.pl-element-markup code{font-family:'Bitstream Vera Sans Mono',Consolas,Courier,monospace}
.pl-element-colors .example-set{display:block}
.pl-element-colors .example-set::after{clear:both;display:table}
.pl-element-colors .swatch{width:100%}
@media screen and (min-width:800px){.pl-element-meta .meta-updated{margin-bottom:0}
.pl-element-colors .swatch{float:left;display:block;margin-right:7.42297%;width:19.43277%}
.pl-element-colors .swatch:last-child,.pl-element-colors .swatch:nth-child(4n){margin-right:0}
.pl-element-colors .swatch:nth-child(4n+1){clear:left}}
@media screen and (min-width:1000px){.pl-element-colors .swatch{float:left;display:block;margin-right:3.57866%;width:22.316%}
.pl-element-colors .swatch:last-child,.pl-element-colors .swatch:nth-child(4n){margin-right:0}
.pl-element-colors .swatch:nth-child(4n+1){clear:left}}
.pl-element-buttons .example-set{display:block}
.pl-element-buttons .example-set::after{clear:both;display:table}
.fail-a11y-color{font-weight:600;background-color:#f6e1a7;color:#000}
@media screen and (min-width:1000px){.pl-wrapper-content-main{width:calc(100% - $pl-content-supplemental-width);margin-left:18.33333rem}}
.pl-wrapper-element{max-width:calc(100% - $pl-content-supplemental-width);margin-left:auto;margin-right:auto}
.pl-wrapper-element::after{clear:both;display:table}
.pl-wrapper-content-supplemental{border-right:.22222rem solid #1f1f1f;background:#3f3f3f;color:#dfdfdf;font-size:1rem}
.pl-wrapper-content-supplemental .pl-header-site{padding:1.11111rem 2.22222rem}
@media screen and (min-width:1000px){.pl-wrapper-content-supplemental{height:100%;width:18.33333rem;display:block;position:fixed;top:0;left:0;border-right:.22222rem solid #1f1f1f}
.pl-wrapper-content-supplemental .pl-header-site{margin:2.22222rem 2.22222rem 1.11111rem;padding:0}}
.pl-wrapper-content-supplemental .pl-nav{display:none}
@media screen and (min-width:1000px){.pl-wrapper-content-supplemental .pl-nav{display:block}}
.pl-wrapper-content-supplemental .pl-footer-site{display:none}
@media screen and (min-width:1000px){.pl-wrapper-content-supplemental .pl-footer-site{display:block}}
.pl.view-index .pl-wrapper-link-top{text-align:center}
.pl.view-index .pl-link-top{display:inline-block;padding:.55556rem}
.pl.view-index .pl-link-top .pl-icon{font-size:1.33333rem;font-weight:600}