// ------------------------------
// edX Pattern Library: Components - Forms

// About: Contains base styling for forms

// #GLOBAL
// #INPUT TEXT
// #INPUT RADIO/CHECKBOX
// #SELECT
// #TEXTAREA

// ----------------------------
// #GLOBAL
// ----------------------------
.form {
    display: inline-block;
}

.fieldset {
    @include clearfix;
    margin-bottom: spacing-vertical(mid-small);

    .group-legend {
        margin-bottom: spacing-vertical(x-small);
    }

    .field-wrapper {
        margin-bottom: spacing-vertical(base);

        .helper-text {
            font-size: font-size(small);
            color: palette(grayscale-cool, dark);
        }
    }

    &.form-group {

        .field-wrapper {
            margin-bottom: spacing-vertical(x-small);
        }

        .helper-text {
            margin-left: 24px;
        }
    }
}

.form-label {
    display: block;

    &.is-active,
    &.is-selected {
        color: palette(grayscale, x-dark);
    }
}

.input,
.select,
.textarea {
    @include transition(
        color timing(xx-fast) ease-in-out 0s,
        border-color timing(xx-fast) ease-in-out 0s
    );
    display: inline-block;
    min-width: ($baseline*20) + px; // for the purposes of the demo... can probably get moved elsewhere...
    padding: ($baseline/2) + px;
    border: 1px solid palette(grayscale-cool, x-light);
    background: palette(grayscale, white);
    font-family: $font-family-sans-serif;
    font-size: font-size(base);
    color: palette(grayscale-cool, dark);

    &:focus {
        outline: none;
    }
}

// ----------------------------
// #INPUT TEXT
// ----------------------------
.input-text {

    &:focus,
    &.is-active {
        border-color: palette(primary, base);
        color: palette(grayscale, x-dark);
    }

    &:disabled,
    &.is-disabled {
        border-color: palette(grayscale, light);
        background: palette(grayscale, x-light);
    }

    &.input-simple {
        padding: ($baseline/2) + px 0;
        border-width: 0 0 2px 0;

        &:focus,
        &.is-active {
            border-color: palette(grayscale, x-dark);
        }
    }
}

// ----------------------------
// #SELECT
// ----------------------------
.wrapper-replace-select {
    position: relative;
}

.input-select {
    height: ($baseline*2) + px;
    line-height: ($baseline*2) + px;

    &:focus,
    &.is-active {
        border-color: palette(primary, base);
        color: palette(grayscale, x-dark);
    }

    &:disabled,
    &.is-disabled {
        border-color: palette(grayscale, light);
        background: palette(grayscale, x-light);
    }

    &.is-replaced {
        position: absolute;
        z-index: z-index(mid-front);
    }

    &.is-transparent {
        opacity: 0;
    }
}

.wrapper-custom-select {
    @extend .input;
    @extend .input-select;
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    width: auto;
    line-height: 100%;
    z-index: z-index(base);

    svg {
        position: absolute;
        right: ($baseline/2) + px;
        height: $baseline + px;
        width: $baseline + px;
        fill: palette(grayscale, light);
    }

    &:hover,
    &:focus,
    &.is-hover,
    &.is-active {
        border: 1px solid palette(primary, base);

        svg {
            @include transition(
                fill timing(xx-fast) ease-in-out 0s
            );
            fill: $link-color;
        }
    }

    &:disabled,
    &.is-disabled {
        cursor: default;
        color: palette(grayscale, light);
    }
}

// ----------------------------
// #RADIO / CHECKBOX
// ----------------------------
.wrapper-replace-radio,
.wrapper-replace-checkbox {
    position: relative;
    display: inline-block;
    width: auto;
}

.wrapper-custom-radio,
.wrapper-custom-checkbox {
    display: inline-block;
    z-index: z-index(base);

    svg {
        @include transition(
            fill timing(xx-fast) ease-in-out 0s
        );
        height: $baseline + px;
        width: $baseline + px;
        fill: palette(grayscale, base);
    }

    &.is-selected {

        svg {
            fill: palette(primary, base);
        }
    }
}

.input-radio,
.input-checkbox {

    &:disabled,
    &.is-disabled {

        svg {
            fill: palette(grayscale, x-light);
            cursor: default;
        }
    }

    &.is-replaced {
        position: absolute;
        margin-top: ($baseline/4) + px;
        z-index: z-index(mid-front);
    }

    &.is-transparent {
        opacity: 0;
    }
}

// ----------------------------
// #TEXTAREA
// ----------------------------
.input-textarea {

    &:focus,
    &:active,
    &.is-active {
        border-color: palette(primary, base);
        color: palette(grayscale, x-dark);
    }

    &.textarea-short {
        height: ($baseline*4.5) + px; // 3 clean lines
    }

    &.textarea-medium {
        height: ($baseline*10) + px; // 8 clean lines
    }

    &.textarea-tall {
        height: ($baseline*14.4) + px; // 12 clean lines
    }

    &.textarea-block {
        width: 100%;
    }
}