// ------------------------------
// edX Pattern Library: Mixins

// About: Sass partial containing mixins and functions for use within the application.

// #MIXINS
// Font Sizing:            Useful font sizing functions
// Line Height:            Line height functions
// Headings (Mixin):       Heading mixins
//
// #EXTENDS
// Headings (Extend):     Heading extends
// Polyfill (Flex):       Flexbox polyfill support
// Windows:               Definitions for window UI
// Visual Disabled:       Styling for making visual UI appear disabled
// Layering/Zindexing:    For positioning and layering
// Clear Children:        Clear fist and last children elements
// Lists:                 Styling for lists, including types of lists (inline, block)
// Icon Fonts:            Define icon fonts
// Accessibility:         Helper extends for accessibility enhancement
// Text Handling:         Text handlers
// Content Handling:      Content handlers


// #MIXINS
// ----------------------------
// Font Sizing
// ----------------------------
@mixin font-size($size: 16) {
    font-size: ($size/10) + rem;
}


// ----------------------------
// Line Height
// ----------------------------
@mixin line-height($size: 1.5rem) {
    line-height: (($size/10) * 1.48) + rem;
}


// ----------------------------
// Headings
// ----------------------------
@mixin page-title($type) {
    @extend %heading;
    @include font-size(30);
    // font-family: $font-$type;
}

@mixin page-subtitle($type) {
    @extend %heading;
    @include font-size(22);
    // font-family: $font-$type;
}

@mixin section-title($type) {
    @extend %heading;
    @include font-size(20);
    // font-family: $font-$type;
}

@mixin section-subtitle($type) {
    @extend %heading;
    @include font-size(18);
    // font-family: $font-$type;
}

@mixin heading-general($type) {
    @extend %heading;
    @include font-size(16);
    // font-family: $font-$type;
}


// #EXTENDS
// ----------------------------
// Headings
// ----------------------------
%heading {
    font-weight: 600;
}


// ----------------------------
// Polyfill (Flex)
// ----------------------------
%justify-right-flex {
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

%justify-left-flex {
    -webkit-justify-content: flex-start;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

%align-center-flex {
    -webkit-align-items: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    align-items: center;
}


// ----------------------------
// Windows
// ----------------------------
%window {
    @include clearfix();
    margin-bottom: $baseline;
    border: 1px solid $gray-lighter;
    border-radius: ($baseline / 10);
    box-shadow: 0 1px 1px $shadow;
    background: $white;

  // STATE: hover/active
    &:hover, &:active {
        box-shadow: 0 1px 1px $shadow;
    }
}


// ----------------------------
// Visual Disabled
// ----------------------------
%disabled {
    pointer-events: none;
    outline: none;
    cursor: default;
}

// ----------------------------
// Layering/Z-indexing
// ----------------------------
%depth-0 { z-index: 1; }
%depth-1 { z-index: 10; }
%depth-2 { z-index: 100; }
%depth-3 { z-index: 1000; }
%depth-4 { z-index: 10000; }
%depth-5 { z-index: 100000; }


// ----------------------------
// Clear Children
// ----------------------------
%clear-first-child {

    &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }
}

%clear-last-child {

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}


// ----------------------------
// Lists
// ----------------------------
%list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
    text-indent: 0;

    li,
    dt,
    dd {
        margin: 0;
        padding: 0;
    }
}

%list-inline {
    @extend %list-unstyled;

    li,
    dt,
    dd {
        display: inline-block;
    }
}


// ----------------------------
// Icon Fonts
// ----------------------------
%icon-font {
    display: inline-block;
    min-width: 1rem; // Should be 16px
    min-height: 1rem; // Should be 16px
}


// ----------------------------
// Accessibility
// ----------------------------
%a11y-hide-text-image {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

%a11y-hide-text {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}


// ----------------------------
// Text Handling
// ----------------------------
%truncate-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


// ----------------------------
// Content Handling
// ----------------------------
.is-hidden {
    display: none;
}
