// ------------------------------
// edX Pattern Library: Variables

// About: Sass partial for defining variables used throughout the applications.

// #Grid:                    Grid and layout variables
// #Fonts:                   Font definitions
// #Colors (Palette):        Base and theme color definitions
// #Colors (Application):    Colors for use within the entire application
// #Timing:                  Event timing variables


// ----------------------------
// #Grid
// ----------------------------
$baseline:     rem(20);

$columns:      12;
$min-width:    rem(768);
$max-width:    rem(1600);


// ----------------------------
// #Fonts
// ----------------------------
$font-sans:     'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif:    'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
$font-size:     1rem;


// ----------------------------
// #Colors (Palette)
// ----------------------------
// Start configuration...
// - - - - - - - - - - - - - -
$transparent:    rgba(0, 0, 0, 0);
$black:          rgba(0, 0, 0, 1.0);
$gray:           rgba(127, 127, 127, 1.0);
$white:          rgba(255, 255, 255, 1.0);
$shadow:         rgba($black, 0.20);
$highlight:      rgba($white, 0.30);
$red:            rgba(178, 6, 16, 1.0);
$orange:         rgba(237, 189, 60, 1.0);
$yellow:         rgba(237, 189, 60, 1.0);
$green:          rgba(37, 184, 90, 1.0);
$blue:           rgba(0, 159, 230, 1.0);
$indigo:         rgba(75, 0, 130, 1.0);
$violet:         rgba(143, 0, 255, 1.0);
$pink:           rgba(183, 37, 103, 1.0);
// - - - - - - - - - - - - - -
// End configuration
// ----------------------------
$brand-primary:      $blue;
$brand-secondary:    $pink;
$brand-accent:       $gray;

$brand-primary-light:       tint($brand-primary, 20%);
$brand-primary-lighter:     tint($brand-primary, 50%);
$brand-primary-lightest:    tint($brand-primary, 75%);
$brand-primary-dark:        shade($brand-primary, 20%);
$brand-primary-darker:      shade($brand-primary, 50%);
$brand-primary-darkest:     shade($brand-primary, 75%);

$brand-secondary-light:       tint($brand-secondary, 20%);
$brand-secondary-lighter:     tint($brand-secondary, 50%);
$brand-secondary-lightest:    tint($brand-secondary, 75%);
$brand-secondary-dark:        shade($brand-secondary, 20%);
$brand-secondary-darker:      shade($brand-secondary, 50%);
$brand-secondary-darkest:     shade($brand-secondary, 75%);

$brand-accent-light:       tint($brand-accent, 20%);
$brand-accent-lighter:     tint($brand-accent, 50%);
$brand-accent-lightest:    tint($brand-accent, 75%);
$brand-accent-dark:        shade($brand-accent, 20%);
$brand-accent-darker:      shade($brand-accent, 50%);
$brand-accent-darkest:     shade($brand-accent, 75%);

$gray-light:       tint($gray, 20%);
$gray-lighter:     tint($gray, 50%);
$gray-lightest:    tint($gray, 75%);
$gray-dark:        shade($gray, 20%);
$gray-darker:      shade($gray, 50%);
$gray-darkest:     shade($gray, 75%);

$blue-light:       tint($blue, 20%);
$blue-lighter:     tint($blue, 50%);
$blue-lightest:    tint($blue, 75%);
$blue-dark:        shade($blue, 20%);
$blue-darker:      shade($blue, 50%);
$blue-darkest:     shade($blue, 75%);

$pink-light:       tint($pink, 20%);
$pink-lighter:     tint($pink, 50%);
$pink-lightest:    tint($pink, 75%);
$pink-dark:        shade($pink, 20%);
$pink-darker:      shade($pink, 50%);
$pink-darkest:     shade($pink, 75%);

$red-light:       tint($red, 20%);
$red-lighter:     tint($red, 50%);
$red-lightest:    tint($red, 75%);
$red-dark:        shade($red, 20%);
$red-darker:      shade($red, 50%);
$red-darkest:     shade($red, 75%);

$green-light:       tint($green, 20%);
$green-lighter:     tint($green, 50%);
$green-lightest:    tint($green, 75%);
$green-dark:        shade($green, 20%);
$green-darker:      shade($green, 50%);
$green-darkest:     shade($green, 75%);

$yellow-light:       tint($yellow, 20%);
$yellow-lighter:     tint($yellow, 50%);
$yellow-lightest:    tint($yellow, 75%);
$yellow-dark:        shade($yellow, 20%);
$yellow-darker:      shade($yellow, 50%);
$yellow-darkest:     shade($yellow, 75%);

$orange-light:       tint($orange, 20%);
$orange-lighter:     tint($orange, 50%);
$orange-lightest:    tint($orange, 75%);
$orange-dark:        shade($orange, 20%);
$orange-darker:      shade($orange, 50%);
$orange-darkest:     shade($orange, 75%);


// ----------------------------
// #Colors (Application)
// ----------------------------
$color-draft:             $gray-lightest;
$color-live:              $blue;
$color-ready:             $green;
$color-warning:           $orange-lighter;
$color-error:             $red-lighter;
$color-staff-only:        $black;
$color-visibility-set:    $black;

$color-heading-base:       $gray-darker;
$color-copy-base:          $gray-light;
$color-copy-emphasized:    $gray-darker;

$link:            $blue;
$link-hover:      $blue-lighter;
$link-visited:    $blue-dark;


// ----------------------------
// #Timing
// ----------------------------
$timing-slowest:    3.0s;
$timing-slower:     2.0s;
$timing-slow:       1.0s;
$timing-base:       0.75s;
$timing-fast:       0.50s;
$timing-faster:     0.25s;
$timing-fastest:    0.125s;
