// ------------------------------
// edX Pattern Library: Components - Buttons

// About: Contains base styling for demonstration and utility for buttons.
// ----------------------------

// #GLOBALS
// #SIZES
// #DEFAULT
// #PRIMARY
// #SECONDARY
// #LINK
// #ELEVATED
// #ELEVATED-ALT
// #COMBO
// #OVERLAY
// #CANNED
// ----------------------------

// ----------------------------
// #GLOBALS
// ----------------------------
%btn {
    @include transition(
        color timing(xx-fast) ease-in-out 0s,
        border-color timing(xx-fast) ease-in-out 0s,
        background timing(xx-fast) ease-in-out 0s,
        box-shadow timing(xx-fast) ease-in-out 0s
    );

    // Display: inline, side-by-side
    display: inline-block;
    border-style: $btn-border-style;
    border-radius: $btn-border-radius;
    border-width: $btn-border-size;
    font-weight: $btn-font-weight;

    // Display: block, one button per line, full width
    &.block {
        display: block;
        width: 100%;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        @extend %state-disabled;
    }
}


// ----------------------------
// #SIZES
// ----------------------------

// large
%btn-large {
    padding: spacing-vertical(small) spacing-horizontal(mid-large);
    font-size: font-size(large);
}

// base
%btn-base {
    padding: spacing-vertical(x-small) spacing-horizontal(base);
    font-size: font-size(base);
}

// small
%btn-small {
    padding: spacing-vertical(x-small) spacing-horizontal(small);
    font-size: font-size(small);
}


// ----------------------------
// #DEFAULT
// ----------------------------
.btn-default {
    @extend %btn;
    border-color: $btn-default-border-color;
    background: $btn-default-background;
    color: $btn-default-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        background: $btn-default-focus-background;
        color: $btn-default-focus-color;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        border-color: $btn-default-active-border-color;
        background: $btn-default-active-background;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-disabled-border-color;
        background: $btn-disabled-background;
        color: $btn-disabled-color;
    }
}


// ----------------------------
// #PRIMARY
// ----------------------------
.btn-primary {
    @extend %btn;
    border-color: $btn-primary-border-color;
    background: $btn-primary-background;
    color: $btn-primary-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        border-color: $btn-primary-focus-border-color;
        background: $btn-primary-focus-background;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        border-color: $btn-primary-active-border-color;
        background: $btn-primary-active-background;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-disabled-border-color;
        background: $btn-primary-disabled-background;
        color: $btn-primary-disabled-color;
    }
}


// ----------------------------
// #SECONDARY
// ----------------------------
.btn-secondary {
    @extend %btn;
    border-color: $btn-secondary-border-color;
    background: $btn-secondary-background;
    color: $btn-secondary-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        border-color: $btn-secondary-focus-border-color;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        border-color: $btn-secondary-active-border-color;
        color: $btn-secondary-active-color;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-disabled-border-color;
        color: $btn-disabled-color;
    }
}


// ----------------------------
// #LINK
// ----------------------------
.btn-link {
    @extend %btn;
    @extend %link;

    // reset of inherited buttons
    border-radius: 0;
    border-color: $transparent;
    padding: 1px;
    background: $transparent;

    &:disabled {
        // disabled links shouldn't be in the interface
        // plus, having them pass AA guidelines would make them no longer look disabled
        display: none;
    }
}


// ----------------------------
// #ELEVATED
// ----------------------------
.btn-elevated {
    @extend %btn;
    border-color: $btn-elevated-border-color;
    box-shadow: $btn-elevated-shadow;
    background: $btn-elevated-background;
    color: $btn-elevated-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        box-shadow: $btn-elevated-focus-shadow;
        background: $btn-elevated-focus-background;
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        box-shadow: $btn-elevated-active-shadow;
        background: $btn-elevated-active-background;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-elevated-disabled-border-color;
        box-shadow: $btn-elevated-disabled-shadow;
        background: $btn-elevated-disabled-background;
        color: $btn-disabled-color;
    }
}


// ----------------------------
// #ELEVATED-ALT
// ----------------------------
.btn-elevated-alt {
    @extend %btn;
    box-shadow: inset 0 0 -$btn-elevated-shadow 0 0 palette(grayscale-cool, light);
    border-color: palette(grayscale-cool, light);
    background: $transparent;
    color: palette(primary, base);

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        border-color: palette(primary, base);
        box-shadow: inset 0 0 -$btn-elevated-shadow 0 0 palette(primary, base);
        background: palette(primary, accent);
        color: palette(grayscale, white);
    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        box-shadow: inset 0 $btn-elevated-shadow 0 0 palette(primary, x-dark);
        background: palette(primary, dark);
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: palette(grayscale, x-light);
        box-shadow: inset 0 -1px 0 palette(grayscale, light);
        background: palette(grayscale, x-light);
        color: $btn-disabled-color;
    }
}


// ----------------------------
// #COMBO
// ----------------------------
.btn-combo {
    @extend %btn;
    border-radius: 0;

    // targets the first element in a parent container
    &:first-of-type {
        @include border-top-left-radius($btn-border-radius);
        @include border-bottom-left-radius($btn-border-radius);
    }

    // targets the last element in a parent container
    &:last-of-type {
        @include border-top-right-radius($btn-border-radius);
        @include border-bottom-right-radius($btn-border-radius);
    }
}


// ----------------------------
// #OVERLAY
// ----------------------------
.btn-overlay {
    @extend %btn;
    border-color: $btn-overlay-border-color;
    background: $btn-overlay-background;
    color: $btn-overlay-color;

    // STATE: hover and focus
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        background: $btn-overlay-focus-background;
        color: $btn-overlay-focus-color;

    }

    // STATE: is pressed or active
    &:active,
    &.is-pressed,
    &.is-active {
        color: $btn-overlay-active-color;
    }

    // STATE: is disabled
    &:disabled,
    &.is-disabled {
        border-color: $btn-overlay-disabled-border-color;
        color: $btn-overlay-disabled-color;

        &:hover {
            border-color: $btn-overlay-disabled-focus-border-color;
            background: $btn-overlay-disabled-focus-background;
            color: $btn-overlay-disabled-focus-color;
        }
    }
}


// ----------------------------
// #CANNED
// ----------------------------
// large
.btn-large {
    @extend %btn-large;
}

// base
.btn-base {
    @extend %btn-base;
}

// small
.btn-small {
    @extend %btn-small;
}
