// ------------------------------
// edX Pattern Library: Components - Copy

// About: Contains base styling for copy (general text and type used in content and functionaly).

// #SETTINGS
// #GLOBAL
// #INDIVIDUAL CASES
// #CANNED


// ----------------------------
// #SETTINGS
// ----------------------------


// ----------------------------
// #GLOBAL
// ----------------------------

// broad stroke extend for emphasized/de-emphasized copy
%copy-emphasized {
    color: $text-emphasized-color;
    font-weight: $text-emphasized-font-weight;
}

%copy-de-emphasized {
    color: $text-de-emphasized-color;
    font-weight: $text-de-emphasized-font-weight;
}

%copy {
    color: $text-base-color;

    &.emphasized {
        @extend %copy-emphasized;
    }

    &.de-emphasized {
        @extend %copy-de-emphasized;
    }

    a {
        @extend %link-text;
    }
}


// ----------------------------
// #INDIVIDUAL COPY CASES
// ----------------------------
// archetypes
%copy-lead {
    @extend %copy;
    font-size: font-size(x-large);
    line-height: line-height(x-large);

    p,
    ol,
    ul,
    dl {
        margin-bottom: spacing-vertical(mid-small);
    }
}

%copy-large {
    @extend %copy;
    font-size: font-size(large);
    line-height: line-height(large);

    p,
    ol,
    ul,
    dl {
        margin-bottom: spacing-vertical(small);
    }
}

%copy-base {
    @extend %copy;
    font-size: font-size(base);
    line-height: line-height(large);

    p,
    ol,
    ul,
    dl {
        margin-bottom: spacing-vertical(small);
    }
}

%copy-meta {
    @extend %copy;
    font-size: font-size(small);
    line-height: line-height(large);

    p,
    ol,
    ul,
    dl {
        margin-bottom: spacing-vertical(small);
    }
}

%copy-micro {
    @extend %copy;
    font-size: font-size(x-small);
    line-height: line-height(x-small);

    p,
    ol,
    ul,
    dl {
        margin-bottom: spacing-vertical(small);
    }
}

// ----------------------------
// #CANNED
// ----------------------------
.copy-lead {
    @extend %copy-lead;
}

.copy-large {
   @extend %copy-large;
}

.copy-base {
    @extend %copy-base;
}

.copy-meta {
    @extend %copy-meta;
}

.copy-micro {
    @extend %copy-micro;
}
