// ------------------------------
// edX Pattern Library: Components - Icons

// About: Contains base styling for icons, which are currently managed through IcoMoon (https://icomoon.io/) and rendered with the support and accesibility mindfullness of A Font Garde (https://github.com/filamentgroup/a-font-garde).

// NOTE: Read more at https://github.com/edx/ux-pattern-library/wiki/Styleguide:-Icons

// #SETTINGS
// #GLOBAL
// #ICONS
// #FALLBACKS


// ----------------------------
// #SETTINGS
// ----------------------------
@import 'icons-afontgarde';

$edx-icons:
angle-down
angle-left
angle-right
angle-up
arrow-circle-down
arrow-down
arrow-up
book
bullhorn
calendar
camera
caret-down
caret-left
caret-right
caret-up
check
checkbox-checked
checkbox-checked-dark
checkbox-unchecked
chevron-left
chevron-right
circle
circle-light
clock
close
close-circle
close-circle-light
closed-captions
cog
comment
comments
copy
edit
ellipsis
email
email-light
error
exit-fullscreen
external-link
facebook-square
fast-backward
fast-forward
file
file-light
filter
fullscreen
flag
help
hide
home
information
link
linkedin-square
list
list-alt
lock
menu
minus
money
pause
pencil
play
plus
print
quote-left
radio-checked
radio-unchecked
refresh
reply
search
search-minus
search-plus
share
shopping-cart
show
sitemap
sort
spinner
square
square-light
star
stop
table
thumb-tack
trash
twitter-square
undo
unlink
unlock
upload
user
video-camera
volume-down
volume-off
volume-up
warning;

// Useful synonyms
$edx-icon-synonyms: (
    bars: menu,
    delete: trash,
    gear: cog,
    hidden: hide,
    reorder: menu,
    remove: close,
    settings: cog,
    rotate-left: undo,
    unsorted: sort,
    visible: show
);

// ----------------------------
// #GLOBAL
// ----------------------------
.icon {
    display: inline-block;
    color: currentColor;
}


// ----------------------------
// #ICONS
// ----------------------------
.edx-icons .icon {
    height: auto;
    width: auto;
    font-family: $icon-font;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.edx-icons .icon-caret-down:before {
    content: "\e601";
}
.edx-icons .icon-caret-up:before {
    content: "\e602";
}
.edx-icons .icon-caret-left:before {
    content: "\e603";
}
.edx-icons .icon-caret-right:before {
    content: "\e604";
}
.edx-icons .icon-radio-checked:before {
    content: "\e605";
}
.edx-icons .icon-checkbox-unchecked:before {
    content: "\e606";
}
.edx-icons .icon-square:before {
    content: "\e607";
}
.edx-icons .icon-circle:before {
    content: "\e608";
}
.edx-icons .icon-circle-light:before {
    content: "\e609";
}
.edx-icons .icon-search:before {
    content: "\e60a";
}
.edx-icons .icon-email-light:before {
    content: "\e60b";
}
.edx-icons .icon-star:before {
    content: "\e60c";
}
.edx-icons .icon-user:before {
    content: "\e60d";
}
.edx-icons .icon-check:before {
    content: "\e60e";
}
.edx-icons .icon-close:before {
    content: "\e60f";
}
.edx-icons .icon-remove:before {
    content: "\e60f";
}
.edx-icons .icon-search-plus:before {
    content: "\e610";
}
.edx-icons .icon-search-minus:before {
    content: "\e611";
}
.edx-icons .icon-cog:before {
    content: "\e612";
}
.edx-icons .icon-gear:before {
    content: "\e612";
}
.edx-icons .icon-settings:before {
    content: "\e612";
}
.edx-icons .icon-delete:before {
    content: "\e613";
}
.edx-icons .icon-trash:before {
    content: "\e613";
}
.edx-icons .icon-home:before {
    content: "\e614";
}
.edx-icons .icon-file-light:before {
    content: "\e615";
}
.edx-icons .icon-clock:before {
    content: "\e616";
}
.edx-icons .icon-refresh:before {
    content: "\e617";
}
.edx-icons .icon-list-alt:before {
    content: "\e618";
}
.edx-icons .icon-lock:before {
    content: "\e619";
}
.edx-icons .icon-flag:before {
    content: "\e61a";
}
.edx-icons .icon-volume-off:before {
    content: "\e61b";
}
.edx-icons .icon-volume-down:before {
    content: "\e61c";
}
.edx-icons .icon-volume-up:before {
    content: "\e61d";
}
.edx-icons .icon-book:before {
    content: "\e61e";
}
.edx-icons .icon-print:before {
    content: "\e61f";
}
.edx-icons .icon-camera:before {
    content: "\e620";
}
.edx-icons .icon-video-camera:before {
    content: "\e621";
}
.edx-icons .icon-pencil:before {
    content: "\e622";
}
.edx-icons .icon-edit:before {
    content: "\e623";
}
.edx-icons .icon-share:before {
    content: "\e624";
}
.edx-icons .icon-checkbox-checked:before {
    content: "\e625";
}
.edx-icons .icon-fast-backward:before {
    content: "\e626";
}
.edx-icons .icon-play:before {
    content: "\e627";
}
.edx-icons .icon-pause:before {
    content: "\e628";
}
.edx-icons .icon-stop:before {
    content: "\e629";
}
.edx-icons .icon-fast-forward:before {
    content: "\e62a";
}
.edx-icons .icon-chevron-left:before {
    content: "\e62b";
}
.edx-icons .icon-chevron-right:before {
    content: "\e62c";
}
.edx-icons .icon-close-circle:before {
    content: "\e62d";
}
.edx-icons .icon-close-circle-light:before {
    content: "\e630";
}
.edx-icons .icon-help:before {
    content: "\e62e";
}
.edx-icons .icon-information:before {
    content: "\e62f";
}
.edx-icons .icon-arrow-up:before {
    content: "\e631";
}
.edx-icons .icon-arrow-down:before {
    content: "\e632";
}
.edx-icons .icon-fullscreen:before {
    content: "\e647";
}
.edx-icons .icon-exit-fullscreen:before {
    content: "\e633";
}
.edx-icons .icon-plus:before {
    content: "\e634";
}
.edx-icons .icon-minus:before {
    content: "\e635";
}
.edx-icons .icon-error:before {
    content: "\e636";
}
.edx-icons .icon-show:before {
    content: "\e637";
}
.edx-icons .icon-visible:before {
    content: "\e637";
}
.edx-icons .icon-hide:before {
    content: "\e638";
}
.edx-icons .icon-hidden:before {
    content: "\e638";
}
.edx-icons .icon-warning:before {
    content: "\e639";
}
.edx-icons .icon-calendar:before {
    content: "\e63a";
}
.edx-icons .icon-comment:before {
    content: "\e63b";
}
.edx-icons .icon-shopping-cart:before {
    content: "\e63c";
}
.edx-icons .icon-twitter-square:before {
    content: "\e63d";
}
.edx-icons .icon-facebook-square:before {
    content: "\e63e";
}
.edx-icons .icon-linkedin-square:before {
    content: "\e600";
}
.edx-icons .icon-comments:before {
    content: "\e63f";
}
.edx-icons .icon-thumb-tack:before {
    content: "\e640";
}
.edx-icons .icon-external-link:before {
    content: "\e641";
}
.edx-icons .icon-upload:before {
    content: "\e642";
}
.edx-icons .icon-bullhorn:before {
    content: "\e644";
}
.edx-icons .icon-arrow-circle-down:before {
    content: "\e645";
}
.edx-icons .icon-filter:before {
    content: "\e646";
}
.edx-icons .icon-link:before {
    content: "\e648";
}
.edx-icons .icon-copy:before {
    content: "\e649";
}
.edx-icons .icon-menu:before {
    content: "\e64a";
}
.edx-icons .icon-bars:before {
    content: "\e64a";
}
.edx-icons .icon-reorder:before {
    content: "\e64a";
}
.edx-icons .icon-list:before {
    content: "\e64b";
}
.edx-icons .icon-table:before {
    content: "\e64c";
}
.edx-icons .icon-money:before {
    content: "\e64d";
}
.edx-icons .icon-sort:before {
    content: "\e64e";
}
.edx-icons .icon-unsorted:before {
    content: "\e64e";
}
.edx-icons .icon-email:before {
    content: "\e64f";
}
.edx-icons .icon-undo:before {
    content: "\e650";
}
.edx-icons .icon-sitemap:before {
    content: "\e651";
}
.edx-icons .icon-angle-left:before {
    content: "\e652";
}
.edx-icons .icon-angle-right:before {
    content: "\e653";
}
.edx-icons .icon-angle-up:before {
    content: "\e654";
}
.edx-icons .icon-angle-down:before {
    content: "\e655";
}
.edx-icons .icon-radio-unchecked:before {
    content: "\e656";
}
.edx-icons .icon-quote-left:before {
    content: "\e657";
}
.edx-icons .icon-spinner:before {
    content: "\e658";
}
.edx-icons .icon-reply:before {
    content: "\e659";
}
.edx-icons .icon-unlink:before {
    content: "\e65a";
}
.edx-icons .icon-unlock:before {
    content: "\e65b";
}
.edx-icons .icon-ellipsis:before {
    content: "\e65c";
}
.edx-icons .icon-checkbox-checked-dark:before {
    content: "\e65d";
}
.edx-icons .icon-file:before {
    content: "\e65e";
}
.edx-icons .icon-closed-captions:before {
    content: "\e65f";
}

// ----------------------------
// #FALLBACKS
// ----------------------------
// If you'd like to use a fallback image or glyph for icons above,
// in case the font doesn't load, or @font-face isn't available.

@each $edx-icon in $edx-icons {
    .icon-fallback-img .icon-#{$edx-icon} {
    background: url('#{$edx-icons-font-path}/fallback-img/#{$edx-icon}.svg') center center no-repeat;
  }
}

@each $synonym, $edx-icon in $edx-icon-synonyms {
    .icon-fallback-img .icon-#{$synonym} {
    background: url('#{$edx-icons-font-path}/fallback-img/#{$edx-icon}.svg') center center no-repeat;
  }
}
