// ------------------------------
// #UTILITIES
// ------------------------------
@import '../../edx-pl/sass/utilities/functions';
@import '../../edx-pl/sass/utilities/variables';
@import '../../edx-pl/sass/utilities/mixins';
@import '../../edx-pl/sass/utilities/helpers';

@import 'utilities';

// ------------------------------
// #BASE
// ------------------------------
@import '../../edx-pl/sass/base/normalize';
@import '../../edx-pl/sass/base/reset';
@import '../../edx-pl/sass/base/typography';

@import 'base';

// ------------------------------
// #COMPONENTS
// ------------------------------
@import '../../edx-pl/sass/components/colors';
@import '../../edx-pl/sass/components/buttons';
@import '../../edx-pl/sass/components/headings';
@import '../../edx-pl/sass/components/copy';

@import 'components';

// ------------------------------
// #LAYOUTS
// ------------------------------
@import 'layouts';

// ------------------------------
// #VIEWS
// ------------------------------
@import 'views';

// ------------------------------
// #SHAME
// ------------------------------
@import 'overrides';
