<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

<body class="pldoc view-{{ page.viewclass }}">
    <div class="pldoc-nav-skip sr-only">
        <a class="pldoc-action-skip" href="#content-main">Skip to the main content</a>
    </div>

    <hr class="pldoc-divider sr-only">

    <div class="pldoc-wrapper-view">
        <div class="pldoc-wrapper-content" id="content-top">
            <div class="pldoc-wrapper-content-supplemental">
                {% include sidebar.html %}
            </div>

            <hr class="pldoc-divider sr-only">

            <div class="pldoc-wrapper-content-main">
                <main class="pldoc-content pldoc-content-main" id="content-main">
                    {{ content }}
                </main>
            </div>
        </div>
    </div>

    {% include assets-secondary.html %}
</body>
</html>

