---
layout: default
category: elements
viewclass:  element
---

<section class="pldoc-wrapper-element">
    <article class="pldoc-element pldoc-element-{{ page.slug }}" tabindex="-1" aria-label="{{ page.slug }}">
        <header class="pldoc-element-header">
            <h1 class="pldoc-heading pldoc-element-title hd-4">{{ page.title }}</h1>

            <ul class="pldoc-list pldoc-element-meta copy copy-micro de-emphasized">
                <li class="meta meta-updated">
                    <span class="pldoc-element-meta-updated-label">Last updated on </span>
                    <time class="pldoc-element-meta-updated-value" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-m/%-d/%Y" }}</time>
                </li>
                {% if page.example %}
                <li class="meta meta-examplelink">
                    <a class="pldoc-link" href="{{ site.baseurl }}{{ site.exampleurl }}{{page.example}}"><span class="sr-only">View</span>Detailed Example</a>
                </li>
                {% endif %}
            </ul>
        </header>

        <div class="pldoc-element-info">
            <p class="copy copy-base">{{page.info}}</p>
        </div>

        <div class="pldoc-tab-wrapper">
            {% if page.tags contains "pattern" %}
            <ul class="pldoc-tab-labels pldoc-list pldoc-element-navigation">
                <li class="pldoc-tab-label">
                    <button class="pldoc-link pldoc-link-preview is-active" data-href="#{{page.slug}}-preview">Preview</button>
                </li>
                <li class="pldoc-tab-label">
                    <button class="pldoc-link pldoc-link-markup" data-href="#{{page.slug}}-markup">Markup</button>
                </li>
                <li class="pldoc-tab-label">
                    <button class="pldoc-link pldoc-link-styling" data-href="#{{page.slug}}-styling">Styling</button>
                </li>
            </ul>
            {% endif %}

            <div class="pldoc-tabs">
                <div class="pldoc-tab pldoc-element-preview is-active" id="{{page.slug}}-preview" tabindex="-1">
                    <h2 class="pldoc-heading pldoc-tab-heading pldoc-element-preview-title">{{page.title}} Preview</h2>

                    <div class="pldoc-tab-content">
                        {% if page.tags contains "icons" %}
                        <div class="pldoc-settings">
                            <div class="pldoc-setting pldoc-setting-sizer">
                                <label for="iconFontSlider" class="sr-only">Drag to resize icons</label>
                                <input id="iconFontSlider" type="range" min="12" max="144" step="12" value="24" role="slider" aria-valuemin="12" aria-valuemax="144" aria-valuenow="24">
                                <label for="iconFontSliderValue" class="sr-only">Icon size in pixels</label>
                                <input type="text" id="iconFontSliderValue" size="3" value="24" readonly="true">px
                            </div>
                        </div>
                        {% endif %}

                        {{page.content}}
                    </div>
                </div>

                {% if page.tags contains "pattern" %}
                <div class="pldoc-tab pldoc-element-markup is-hidden" id="{{page.slug}}-markup" tabindex="-1">
                    <h2 class="pldoc-heading pldoc-tab-heading pldoc-element-markup-title">{{page.title}} Markup</h2>

                    <div class="pldoc-tab-content">
                        {% highlight html %}
                        {{page.content}}
                        {% endhighlight %}
                    </div>
                </div>

                <div class="pldoc-tab pldoc-element-styling is-hidden" id="{{page.slug}}-styling" tabindex="-1">
                    <h2 class="pldoc-heading pldoc-tab-heading pldoc-element-style-title">{{page.title}} Style</h2>

                    <div class="pldoc-tab-content">
                        <p class="copy copy-base">You can find <a class="pldoc-link" href="{{site.github.path_scss}}{{page.scssurl}}">the original source of the CSS as SCSS</a> in this project's repo.</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </article>
</section>
