// ------------------------------
// edX Pattern Library Site: Views

// About: styling for specific views.

// ------------------------------
// #INDEX
// ------------------------------
.pldoc.view-index {

    // link back to top
    .pldoc-wrapper-link-top {
        padding: 0 spacing-horizontal(large) spacing-vertical(small) spacing-horizontal(large);
    }

    .pldoc-link-top {
        display: block;
        text-align: center;
    }
}


// ------------------------------
// #DETAIL
// ------------------------------
.pldoc.view-element {

}


// ------------------------------
// #EXAMPLE - GRID
// ------------------------------
.pldoc-view {

}


// ------------------------------
// #EXAMPLE - GRID
// ------------------------------
.pldoc-view-example-grid {

    .example-grid {

        .row {
            margin-bottom: spacing-vertical(mid-small);

            &:last-child {
                margin-bottom: 0;
            }
        }

        .col {
            @extend %demo-grid-column;
        }
    }
}

// ------------------------------
// #EXAMPLE - LAYOUTS
// ------------------------------
.pldoc-view-example-layouts {

    .example-layout {
        margin-bottom: spacing-vertical(large);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .example-layout-hd {
        @extend %grid-container;
    }
}
